.profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
}

.profile-menu * {
    width: 100%;
    margin: 3px auto;
}

.profile-buttons {
    width: 35%;
}

.prof-button {
    width: 100%;
    margin-top: 10px;
}

.del-button {
    width: 100%;
    margin-top: 30px;
}

.acc-details, .pw-change, .email-change, .email-confirm {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
}

.acc-details * {
    margin-left: 0;
}

.acc-details p, .pw-change ul {
    margin-bottom: 15px;
}

.pw-change *, .email-change * {
    margin-left: 0;
}

.pw-change button {
    width: 50%;
    margin-top: 10px;
}

.email-change button {
    width: 50%;
    margin-top: 15px;
}

.email-change label[for="id_email"] {
    margin-right: 40px;
}

.email-change #id_email {
    margin-top: 15px;
    margin-bottom: 10px;
}

.email-change label[for="current_email"] {
    margin-right: 10px;
}

label[for="id_email"], .label-input #id_email {
    margin-top: 20px;
}

label[for="id_email2"], #id_email2 {
    margin-bottom: 10px;
}

.pass-req {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: auto;
}

.pass-req p {
    margin-bottom: 10px;
}

.pass-req button {
    margin-top: 20px;
}

.addresses {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.addr-msg {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.addresses h2 {
    margin-left: 0;
    margin-top: 0;
}

.addr-view h3 {
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 0;
}

.default-addr {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
    border-left: 1px solid black;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.other-addr {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 50%;
    border-left: 1px solid black;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.other-addr-list {
    flex: 1;
    margin: 0;
}

.addr-view {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
}

.addr-view p {
    margin-left: 0;
    margin-bottom: 1px;
}

.addr-view button {
    margin-top: 15px;
}

.addr-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 30px;
}

.addr-buttons button {
    width: 100%;
}

.addresses button {
    margin-left: 0;
}

.add-addr {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0;
}

.add-addr > .label-input {
    margin: 5px 0;
}

.add-addr label {
    margin-left: 0;
}

.add-addr input, .add-addr select {
    margin-right: 0;
  }

.add-addr button {
    width: 140px;
    margin: 20px 0 10px auto;
}

.add-addr-button {
    margin-bottom: 30px;
}

.add-def-addr-button {
    margin-top: 10px;
}

.add-addr .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orders {
    margin-left: 0;
    margin-top: 0;
    width: 80%;
}

.orders .prod-table table, .orders .prod-table-details table {
    text-align: center;
    border-collapse: collapse;
}

.orders .prod-table table th, .orders .prod-table table td, .orders .prod-table-details table th, .orders .prod-table-details table td {
    border-left: 1px solid;
    padding: 10px;
}

.orders .prod-table table th:first-child, .orders .prod-table table td:first-child, .orders .prod-table-details table th:first-child, .orders .prod-table-details table td:first-child, .prod-table-details table .order-sums td {
    border-left: 0;
}

.orders :nth-last-child(1 of .cart-tbl-prod) {
    border-bottom: 1px solid black;
}

.prod-table-details table .order-sums td {
    padding: 20px 10px 0 10px;
}

.order-prod {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.order-prod p {
    margin-left: 0;
}

.order-prod-img {
    min-width: 75px;
    max-width: 75px;
    margin-right: 10px;
    margin-left: 0;
}

.orders .prod-table-details {
    margin: 60px auto 20px auto;
}

.order-sums {
    font-weight: bold;
    white-space: nowrap;
}

.order-sums td {
    padding: 20px 10px 0 10px;
}

.order-sums .sum-title {
    text-align: left;
}



@media screen and (max-width: 1100px) {
    .profile-buttons {
        width: 50%;
    }

    .add-addr {
        width: 60%;
    }

    .add-addr input {
        min-width: 50%;
        max-width: 100%;
    }

    label[for="id_default_addr"] {
        margin-right: 0;
    }

    #id_default_addr {
        width: auto;
        margin-right: 0;
        min-width: unset;
    }
}



@media screen and (max-width: 800px) {
    .add-addr {
        width: 100%;
    }

    .add-addr input {
        width: 100%;
    }

    .add-addr button {
        width: 100%;
        margin: 10px auto;
    }
}



@media screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .profile {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    #ham-menu {
        display: none;
        flex-direction: column;
        margin-left: 0;
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
    }

    #ham-menu a {
        margin-left: 0;
    }

    #ham-icon {
        margin: 0;
    }

    .acc-details, .pw-change, .email-change, .email-confirm {
        width: 100%;
    }

    .profile-buttons {
        width: 100%;
    }

    .email-change button, .pw-change button {
        width: 100%;
        margin-right: auto;
    }

    #current_email {
        margin-bottom: 15px;
    }

    .email-change #id_email {
        margin-top: auto;
    }

    .addr-msg {
        width: 100%;
    }

    .default-addr {
        border-left: none;
        padding-left: 0;
    }

    .other-addr {
        padding-right: 0;
    }

    .addr-view p {
        margin-bottom: 5px;
    }

    .orders {
        width: 100%;
    }

    .orders .prod-table table th, .orders .prod-table table td, .orders .prod-table-details table th, .orders .prod-table-details table td {
        padding: 5px;
    }

    .orders .prod-table table td:last-child button {
        padding: 2px;
    }

    .orders .prod-table table td:first-child, .orders .prod-table table th:first-child {
        padding-left: 0;
    }

    .orders .prod-table table td:last-child, .orders .prod-table table th:last-child {
        padding-right: 0;
    }

    .orders .prod-table table td:nth-child(4) {
        word-break: break-word;
        padding: 1px;
    }

    .orders .prod-table button {
        width: auto;
        margin-top: 10px;
    }

    .orders .prod-table-details {
        overflow: scroll;
        margin: 20px auto auto auto;
    }

    .orders .prod-table-details table td:nth-child(4), .orders .prod-table-details table th:nth-child(4) {
        display: none;
    }
}