.profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
}

.profile-menu * {
    width: 100%;
    margin: 3px auto;
}

.profile-buttons {
    width: 35%;
}

.prof-button {
    width: 100%;
    margin-top: 10px;
}

.del-button {
    width: 100%;
    margin-top: 30px;
}

.acc-details, .pw-change, .email-change, .email-confirm {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
}

.acc-details *:not(.modal *) {
    margin-left: 0;
}

.acc-details p, .pw-change ul {
    margin-bottom: 15px;
}

.pw-change *, .email-change * {
    margin-left: 0;
}

.pw-change button {
    width: 50%;
    margin-top: 10px;
}

.email-change button {
    width: 50%;
    margin-top: 15px;
}

.email-change label[for='id_email'] {
    margin-right: 40px;
}

.email-change #id_email {
    margin-top: 15px;
    margin-bottom: 10px;
}

.email-change label[for='current_email'] {
    margin-right: 10px;
}

label[for='id_email'], .label-input #id_email {
    margin-top: 20px;
}

label[for='id_email2'], #id_email2 {
    margin-bottom: 10px;
}

.pass-req {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: auto;
}

.pass-req p {
    margin-bottom: 10px;
}

.pass-req button {
    margin-top: 20px;
}


@media screen and (max-width: 1100px) {
    .profile-buttons {
        width: 50%;
    }
}


@media screen and (max-width: 800px) {
    .orders .prod-table button {
        width: auto;
        margin-top: 10px;
    }
}


@media screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .profile {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    #ham-menu {
        display: none;
        flex-direction: column;
        margin-left: 0;
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
    }

    #ham-menu a {
        margin-left: 0;
    }

    #ham-icon {
        margin: 0;
    }

    .acc-details, .pw-change, .email-change, .email-confirm {
        width: 100%;
    }

    .profile-buttons {
        width: 100%;
    }

    .email-change button, .pw-change button {
        width: 100%;
        margin-right: auto;
    }

    #current_email {
        margin-bottom: 15px;
    }

    .email-change #id_email {
        margin-top: auto;
    }
}