/* Profile page styling */
.profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
}

.profile-menu * {
    width: 100%;
    margin: 3px auto;
}

.profile-buttons {
    width: 35%;
}

.prof-button {
    width: 100%;
    margin-top: 10px;
}

/* Delete account button */
.del-button {
    width: 100%;
    margin-top: 30px;
}

/* Divs within profile pages */
.acc-details, .pw-change, .email-change, .email-confirm {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
}

/* Account Details profile page */
.acc-details *:not(.modal *) {
    margin-left: 0;
}

.acc-details p, .pw-change ul {
    margin-bottom: 15px;
}

/* Password Change profile page */
.pw-change *, .email-change * {
    margin-left: 0;
}

.pw-change button {
    width: 50%;
    margin-top: 10px;
}

/* Email Change profile page */
.email-change button {
    width: 50%;
    margin-top: 15px;
}

.email-change label[for='id_email'] {
    margin-right: 40px;
}

.email-change #id_email {
    margin-top: 15px;
    margin-bottom: 10px;
}

.email-change label[for='current_email'] {
    margin-right: 10px;
}

label[for='id_email'], .label-input #id_email {
    margin-top: 20px;
}


/* Screens up to 1100px width */
@media screen and (max-width: 1100px) {
    /* Update width of profile buttons */
    .profile-buttons {
        width: 50%;
    }
}


/* Screens up to 500px width */
@media screen and (max-width: 500px) {
    /* Hide large-screen and displaying mobile elements */
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* Adjust some profile style options */
    .profile {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    /* Hamburger menu styling for profile pages on mobile screens */
    #ham-menu {
        display: none;
        flex-direction: column;
        margin-left: 0;
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
    }

    .profile-menu, .profile-menu * {
        width: unset;
        margin: auto;
    }

    #ham-menu a {
        margin-left: 0;
    }

    #ham-icon {
        margin: 0;
    }

    /* Width and margin updates for divs and buttons for profile pages */
    .acc-details, .pw-change, .email-change, .email-confirm {
        width: 100%;
    }

    .profile-buttons {
        width: 100%;
    }

    .email-change button, .pw-change button {
        width: 100%;
        margin-right: auto;
    }

    #current_email {
        margin-bottom: 15px;
    }

    .email-change #id_email {
        margin-top: auto;
    }
}