{# Load base template and modules #}
{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{# Display password reset URL confirmation and error messages #}
{% block content %}
    <div class="mid-content">
        {# If user is logged in, advise to change password in Profile #}
        {% if request.user.is_authenticated %}
            <p>You're already logged in. If you want to <a class="inline-link" href="/password/change">change your password</a>, you can do so in your <a class="inline-link" href="/profile">Profile</a>.</p>
        {# If user is not logged in, check password reset token #}
        {% else %}
            {# Custom header for failed password reset tokens #}
            {% if token_fail %}
                <h2>Expired/Invalid Link</h2>
            {# Custom header for successful password resets #}
            {% else %}
                <h2>Change Password</h2>
            {% endif %}
            {# Error for invalid password reset token #}
            {% if token_fail %}
                {% url "account_reset_password" as passwd_reset_url %}
                <div class="border">
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="inline-link" href="{{ passwd_reset_url }}">new password reset link</a>{% endblocktrans %}
                </div>
            {# Display password change form for successful password resets #}
            {% else %}
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {# Password change fields #}
                        <div class="form-div">
                            <div class="label-input">
                                <label for="id_password1" aria-label="Password"></label>
                                <input type="password" id="id_password1" placeholder="enter new password" name="password1" required>
                            </div>
                            <div class="label-input">
                                <label for="id_password2" aria-label="Re-enter Password"></label>
                                <input type="password" id="id_password2" placeholder="re-enter password" name="password2" required>
                            </div>
                        </div>
                        {# Password requirements #}
                        <div class="pass-req">
                            <p>Note, your password:</p>
                            <ul>
                                <li>can’t be too similar to your other personal information
                                <li>must contain at least 8 characters</li>
                                <li>can’t be a commonly used password</li>
                                <li>can’t be entirely numeric</li>
                            </ul>
                        </div>
                    {% endslot %}
                    {% slot actions %}
                        <div class="pass-req">
                            {# Change Password button #}
                            {% element button type="submit" name="action" %}
                                {% trans "Change Password" %}
                            {% endelement %}
                        </div>
                    {% endslot %}
                {% endelement %}
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}