{# Load base template and modules #}
{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{# Display page when password reset email is sent #}
{% block content %}
    <div class="mid-content">
        <h2>Forgot Password</h2>
        {# Include Django messages #}
        {% include "form-responses.html" %}
        {# If user is logged in, advise to change their password in their Profile #}
        {% if request.user.is_authenticated %}
            <p>You're already logged in. If you want to <a href="/password/change">change your password</a>, you can do so in your <a href="/profile">Profile</a>.</p>
        {# If user is not logged in, check the referrer URL #}
        {% elif request.META.HTTP_REFERER|slice:"-16:-1" == "/password/reset" %}
            {# Inform user that they've been sent an email to reset their password if accessing the page from the /password/reset page #}
            {% blocktrans %}We have sent you an email. If you have not received it, please check your spam folder.{% endblocktrans %}
        {% else %}
            {# Advise user to use the page's forgot password link if not coming from the right referrer #}
            <p>It seems you didn't access this page via our <a href="/password/reset">Forgot Password link</a>. If you need to reset your password, <a href="/password/reset">please do so using this page</a>. If you have any difficulties, please don't hesitate to <a href="javascript:modals('pw-reset-mailto-anchor', 'pw-reset-mailto-modal')" id="pw-reset-mailto-anchor">contact us</a>. If the contact link doesn't work for you, please <a href="{% url 'support' %}">visit our support page here</a> instead.</p>
            {# Include modal to contact support if needed #}
            <div id="pw-reset-mailto-modal" class="modal">
                <div class="modal-content">
                    <span class="modal-close">&times;</span>
                    <p>You can <a href="mailto:{{ contact_email }}">click here</a> to automatically open your email client.</p>
                    <p class="modal-margin">Alternatively, you can reach us at: <span class="modal-mailto-email" onclick="copyMailto('pw-reset-mailto-modal')">{{ contact_email }}</span></p>
                    <span class="modal-tooltip">Copied!</span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}