<form method="POST" class="add-addr">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="form-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="form-error">
                {{ error|escape }}
            </div>
        {% endfor %}
        <br>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="form-error">
                    {{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="form-confirm">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <br>
    {% endif %}
    <div class="label-input">
        <label for="id_first_name" aria-label="First Name">First Name:</label>
        {{ addr_form.first_name }}
    </div>
    <div class="label-input">
        <label for="id_last_name" aria-label="Last Name">Last Name:</label>
        {{ addr_form.last_name }}
    </div>
    <div class="label-input">
        <label for="id_addr_line_1" aria-label="Address Line 1">Address Line 1:</label>
        {{ addr_form.addr_line_1 }}
    </div>
    <div class="label-input">
        <label for="id_addr_line_2" aria-label="Address Line 2">Address Line 2:</label>
        {{ addr_form.addr_line_2 }}
    </div>
    <div class="label-input">
        <label for="id_addr_line_3" aria-label="Address Line 3">Address Line 3:</label>
        {{ addr_form.addr_line_3 }}
    </div>
    <div class="label-input">
        <label for="id_city" aria-label="City">City:</label>
        {{ addr_form.city }}
    </div>
    <div class="label-input">
        <label for="id_eir_code" aria-label="Eir Code">Eir Code:</label>
        {{ addr_form.eir_code }}
    </div>
    <div class="label-input">
        <label for="id_county" aria-label="County">County:</label>
        {{ addr_form.county }}
    </div>
    <div class="label-input">
        <label for="id_country" aria-label="Country">Country:</label>
        {{ addr_form.country }}
    </div>
    <div class="label-input">
        <label for="id_phone_nr" aria-label="Phone Number">Phone Number:</label>
        {{ addr_form.phone_nr }}
    </div>
    <div class="label-input">
        <label for="id_default_addr" aria-label="Default Address">Default Address:</label>
        {{ addr_form.default_addr }}
    </div>
    <button type="submit">Save Address</button>
    <button onclick="location.href='/profile/addresses'" type="button">Cancel</button>
</form>
