<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="all-prod-div">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="all-prod-page">
            {% if products %}
                {% for prod in products_distinct|dictsortreversed:"stock_count" %}
                    <div class="all-prod-ver">
                        <a href="/products/id={{ prod.product.product_id }}">
                            <img class="all-prod-img" src="{{ prod.product.product_pic.url }}" alt="Product image">
                        </a>
                        <div class="all-prod-details">
                            <div class="all-prod-name">
                                <a href="/products/id={{ prod.product.product_id }}">
                                    {{ prod.product.brand }} {{ prod.product.product_name }}
                                </a>
                            </div>
                            <div class="all-prod-other">
                                {% if prod.flavour %}
                                    <p>
                                        <label for="{{ prod.product_id }}-prod-flavours">Flavour:</label>
                                        <select name="{{ prod.product_id }}-prod-flavours" id="{{ prod.product_id }}-prod-flavours" onChange=allOptions()>
                                            {% for option in products %}
                                                {% if prod.product_id == option.product.product_id %}
                                                    <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </p>
                                {% endif %}
                                <p>
                                    <label for="{{ prod.product_id }}-prod-sizes">Size:</label>
                                    <select name="{{ prod.product_id }}-prod-sizes" id="{{ prod.product_id }}-prod-sizes" onChange=allOptions()>
                                        {% for option in products %}
                                            {% if prod.product_id == option.product.product_id %}
                                                <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </p>
                                <p id="{{ prod.product_id }}-prod-price"></p>
                                <p id="{{ prod.product_id }}-prod-cart">
                                    <label for="{{ prod.product_id }}-prod-quantity" aria-label="Quantity"></label>
                                    <input type="number" id="{{ prod.product_id }}-prod-quantity" name="{{ prod.product_id }}-prod-quantity" min="1" max="{{ prod.stock_count }}">
                                    <button class="all-prod-button">Add to Cart</button>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="prod-oos">
                    <p>We don't have products to show you yet. Stay tuned!</p>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        const js_prods = "{{ js_products }}".replace(/&quot;/ig,'"')
        json_prods = JSON.parse(js_prods)
    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}