<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="all-prod-div">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if request.get_full_path == '/products/search' %}
            <div class="search-results-div">
                {% if search_term or sort_search %}
                    <p>Here are the products matching your search for "{{ search_term }}"</p>
                {% else %}
                    <p>Your search was made with an empty search term. Please try again or check out our <a href='/products/all'>list of products here</a></p>
                {% endif %}
            </div>
        {% endif %}
        {% if request.get_full_path == '/products/search' and search_term == None and sort_search == None %}
        {% else %}
            {% include "sorting.html" %}
        {% endif %}
        <div class="all-prod-page">
            {% if products %}
                {% if products_distinct %}
                    {% for prod in products_distinct %}
                        <div class="all-prod-ver">
                            <a href="/products/id={{ prod.product.product_id }}">
                                <img class="all-prod-img" src="{{ prod.product.product_pic.url }}" alt="Product image">
                            </a>
                            <div class="all-prod-details">
                                <div class="all-prod-name">
                                    <a href="/products/id={{ prod.product.product_id }}">
                                        {{ prod.product.brand }} {{ prod.product.product_name }}
                                    </a>
                                </div>
                                <div class="all-prod-other">
                                    <form action="{% url 'add-cart' prod.product_id %}" method="POST">
                                    {% csrf_token %}
                                        {% if prod.flavour %}
                                            <p>
                                                <label for="{{ prod.product_id }}-prod-flavours">Flavour:</label>
                                                <select name="{{ prod.product_id }}-prod-flavours" id="{{ prod.product_id }}-prod-flavours" onChange=allOptions()>
                                                    {% for option in products %}
                                                        {% if prod.product_id == option.product.product_id %}
                                                            <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </p>
                                        {% endif %}
                                        <p>
                                            <label for="{{ prod.product_id }}-prod-sizes">Size:</label>
                                            <select name="{{ prod.product_id }}-prod-sizes" id="{{ prod.product_id }}-prod-sizes" onChange=allOptions()>
                                                {% for option in products|dictsort:'size' %}
                                                    {% if prod.product_id == option.product.product_id %}
                                                        <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </p>
                                        <p id="{{ prod.product_id }}-prod-price"></p>
                                        <div id="{{ prod.product_id }}-prod-cart" class="add-cart">
                                            <label for="{{ prod.product_id }}-prod-quantity" aria-label="Quantity"></label>
                                            <input type="number" id="{{ prod.product_id }}-prod-quantity" name="{{ prod.product_id }}-prod-quantity" value="1" min="1" max="{{ prod.stock_count }}">
                                            <button class="all-prod-button">Add to Cart</button>
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <input type="hidden" name="active_sort" value="{{ active_sort }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="prod-oos">
                        <p>We currently don't have products on sale to show you in this category. Stay tuned!</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="prod-oos">
                    {% if request.get_full_path == '/products/search' %}
                        {% if search_term %}
                            <p>We don't have products matching your search term(s). You can <a href="mailto:contact@test.com?subject=Product Request&body=Please add details for your request: '">email us</a> to request we add products to our stock.</p>
                        {% else %}
                            <p>No search results</p>
                        {% endif %}
                    {% else %}
                        <p>We don't have products to show you yet in this category. Stay tuned!</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        if ("{{ js_products }}") {
            const js_prods = "{{ js_products }}".replace(/&quot;/ig,'"')
            json_prods = JSON.parse(js_prods)
        }
        if ("{{ js_searched }}") {
            const js_searched_prods = "{{ js_searched }}".replace(/&quot;/ig,'"')
            json_searched_prods = JSON.parse(js_searched_prods)
        }
    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}