<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
    <div class="cart">
        <h2>Cart</h2>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="form-error">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="form-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
            <br>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}
        <div class="prod-table-details">
            {% if cart_prods %}
                <form action="{% url 'update-cart' %}" method="POST" class="update-cart">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Individual Price</th>
                            <th>Sum</th>
                            {% if request.user.is_authenticated %}
                                <th></th>
                            {% endif %}
                        </tr>
                        {% for product, quantity in cart_prods %}
                            <tr>
                                <td><a href="/products/id={{ product.product.product_id }}">
                                    <div class="cart-prod">
                                        <img class="cart-prod-img" src="{{ product.product.product_pic.url }}" alt="Product image">
                                        {% if product.flavour %}
                                            <p>{{ product.product.brand }} {{ product.product.product_name }} {{ product.flavour }}</p>
                                        {% else %}
                                            <p>{{ product.product.brand }} {{ product.product.product_name }}</p>
                                        {% endif %}
                                    </div>
                                </a></td>
                                <td>{{ product.size }} {{ product.size_unit }}</td>
                                <td>
                                    <div class="cart-quantity">
                                        <label for="{{ product.id }}-prod-quantity" aria-label="quantity"></label>
                                        <input type="number" id="{{ product.id }}-prod-quantity" name="{{ product.id }}-prod-quantity" class="cart-quantity-input" value="{{ quantity }}" min="1" max="{{ product.stock_count }}">
                                        <input type="submit" id="{{ product.id }}-prod-del" name="{{ product.id }}-prod-del" class="cart-prod-del" value="X">
                                        <label for="{{ product.id }}-prod-del" aria-label="Delete from cart"></label>
                                    </div>
                                </td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.price|mul:quantity }}</td>
                                {% if request.user.is_authenticated %}
                                    <td><button>Save for Later</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% if total != grand_total %}
                            <tr class="cart-totals">
                                <td class="sum-title">Subtotal</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>€ {{ total }}</td>
                            </tr>
                        {% endif %}
                        <tr class="cart-totals">
                            <td class="sum-title">Shipping</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if shipping != 0 %}
                                <td>€ {{ shipping }}</td>
                            {% else %}
                                <td>Free Shipping</td>
                            {% endif %}
                        </tr>
                        <tr class="cart-totals">
                            <td class="sum-title">Grand Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>€ {{ grand_total }}</td>
                        </tr>
                    </table>
                    <div class="update-buttons">
                        <button type="submit" name="update-cart-button" value="update-cart-button">Update Cart</button>
                        <button type="submit" name="empty-cart-button" value="empty-cart-button" onclick="return confirm('Are you sure you want to completely empty your cart? This cannot be undone')">Empty Cart</button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <div class="checkout-button">
                        <button type="submit" name="checkout-button" value="checkout-button">Check Out</button>
                    </div>
                </form>
            {% else %}
                <p>You don't have any items in your cart. <a href="/products/all">Start shopping now!</a></p>
            {% endif %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}