<!-- Load the base html file -->
{% extends "base.html" %}

{% block content %}
    <div class="home-div">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="feat-prod-div">
            <div class="feat-img-div">
                <a href=""><img class="feat-img" src="{{ new_product.product_pic.url }}" alt="New featured product"></a>
            </div>
            <div class="feat-prod-details-div">
                <a href=""><p class="feat-prod-details">{{ new_product.product_name }}</p>
                <p class="feat-prod-details">{{ new_product.size }}</p>
                <p class="feat-prod-details">€ {{ new_product.price }}</p></a>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="home-row">
            <div class="feat-prod-div">
                <div class="feat-img-div">
                    <a href=""><img class="feat-img" src="{{ sports_product.product_pic.url }}" alt="Featured sports product"></a>
                </div>
                <div class="feat-prod-details-div">
                    <a href=""><p class="feat-prod-details">{{ sports_product.product_name }}</p>
                    <p class="feat-prod-details">{{ sports_product.size }}</p>
                    <p class="feat-prod-details">€ {{ sports_product.price }}</p></a>
                    <p><button>Add to Cart</button></p>
                </div>
            </div>
            <div class="feat-prod-div">
                <div class="feat-img-div">
                    <a href=""><img class="feat-img" src="{{ health_product.product_pic.url }}" alt="Featured health product"></a>
                </div>
                <div class="feat-prod-details-div">
                    <a href=""><p class="feat-prod-details">{{ health_product.product_name }}</p>
                    <p class="feat-prod-details">{{ health_product.size }}</p>
                    <p class="feat-prod-details">€ {{ health_product.price }}</p></a>
                    <p><button>Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}