{% load mathfilters %}

<div class="orders">
    <h2>Order Details</h2>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="form-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="form-error">
                {{ error|escape }}
            </div>
        {% endfor %}
        <br>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="form-error">
                    {{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="form-confirm">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <br>
    {% endif %}
    {% if order %}
        <div class="prod-table">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Order #</th>
                    <th>Tracking</th>
                    <th>Order Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>{{ order.order_dt|date:'Y-m-d' }}</td>
                    <td>{{ order.order_id }}</td>
                    {% if order.tracking_link %}
                        <td><a href="{{ order.tracking_link }}" target="_blank">Click here</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    <td>{{ order.get_status_display }}</td>
                {% if order.status in 'PEND,PROC,RDY' %}
                    <td><button type="button" onclick="location.href='mailto:contact@test.com?subject=Cancellation Request for Order {{ order.order_id }}&body=Please add details for your request: '">Request Cancellation</button></td>
                {% else %}
                    <td><button type="button" onclick="location.href='mailto:contact@test.com?subject=Refund Request for Order {{ order.order_id }}&body=Please add details for your request: '">Request Refund</button></td>
                {% endif %}
                </tr>
            </table>
        </div>
        <hr class="details-table">
        <div class="prod-table-details">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Size</th>
                    <th>Count</th>
                    <th>Individual Price</th>
                    <th>Sum</th>
                </tr>
                {% for item, product in order_details %}
                    <tr>
                        <td><a href="/products/id={{ item.product.product_id }}">
                            <div class="order-prod">
                                <img class="order-prod-img" src="{{ item.product.product.product_pic.url }}" alt="Product image">
                                {% if item.product.flavour %}
                                    <p>{{ item.product.product.brand }} {{ item.product.product.product_name }} {{ item.product.flavour }}</p>
                                {% else %}
                                    <p>{{ item.product.product.brand }} {{ item.product.product.product_name }}</p>
                                {% endif %}
                            </div>
                        </a></td>
                        <td>{{ item.product.size }} {{ item.product.size_unit }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.product.price|mul:item.quantity }}</td>
                    </tr>
                {% endfor %}
                <tr class="order-sums">
                    <td class="sum-title">Shipping</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ order.shipping_cost }}</td>
                </tr>
                <tr class="order-sums">
                    <td class="sum-title">Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ order.total_cost }}</td>
                </tr>
            </table>
        </div>
    {% else %}
        <p>This order number ({{ request.get_full_path|slice:"13:" }}) does not exist.</p>
    {% endif %}
</div>