<!-- Load the base html file -->
{% extends "base.html" %}

{% block content %}
    <div class="prod-div">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if product %}
            <div class="hor-prod-div">
                <img class="prod-img" src="{{ product.first.product.product_pic.url }}" alt="Product image">
                <div class="prod-actions">
                    <p>Brand: {{ product.first.product.brand }}</p>
                    <p>Product: {{ product.first.product.product_name }}</p>
                    {% if product.first.flavour %}
                        <p>
                            <label for="prod-flavours">Flavour:</label>
                            <select name="prod-flavours" id="prod-flavours">
                                {% for option in product|dictsort:"flavour" %}
                                    {% if product.size == option.size %}
                                        <option value="{{ option.flavour }}" selected="selected">{{ option.flavour }}</option>
                                    {% else %}
                                        <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                    {% endif %}
                    <p>
                        <label for="prod-sizes">Size:</label>
                        <select name="prod-sizes" id="prod-sizes">
                            {% for option in product|dictsort:"size" %}
                                <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>Price: € {{ product.first.price }}</p>
                    {% if product.first.stock_count %}
                        <p>
                            <label for="prod-quantity">Quantity: </label>
                            <input type="number" id="prod-quantity" name="prod-quantity" min="1" max="{{ product.first.stock_count }}">
                            <button>Add to Cart</button>
                        </p>
                        <p>Availability: In Stock</p>
                    {% else %}
                        <p>Availability: Out Of Stock</p>
                    {% endif %}
                </div>
            </div>
            <div class="prod-details">
                <h2>Description</h2>
                <p>{{ product.first.product.description }}</p>
                <hr class="prod-split">
                <h2>Ingredients</h2>
                <p>{{ product.first.ingredients }}</p>
            </div>
            {% if linked_sorted %}
                <div class="similar-prod">
                    <p>You may also like...</p>
                    <div class="linked-hor">
                        {% for item in linked_sorted_distinct %}
                            <div class="linked-ver">
                                <a href="/products/id={{ item.product.product_id }}">
                                    <img class="linked-img" src="{{ item.product.product_pic.url }}" alt="Product image">
                                </a>
                                <div class="linked-details">
                                    <div class="linked-name">
                                        <a href="/products/id={{ item.product.product_id }}">
                                            {{ item.product.brand }} {{ item.product.product_name }}
                                        </a>
                                    </div>
                                    <div class="linked-other">
                                        {% if item.flavour %}
                                            <p>
                                                <label for="prod-flavours" aria-label="Flavour"></label>
                                                <select name="prod-flavours" id="prod-flavours">
                                                    {% for option in linked_sorted %}
                                                        {% if item.product_id == option.product.product_id %}
                                                            {% if item.size == option.size %}
                                                                <option value="{{ option.flavour }}" selected="selected">{{ option.flavour }}</option>
                                                            {% else %}
                                                                <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </p>
                                        {% endif %}
                                        <p>
                                            <label for="prod-sizes" aria-label="Size"></label>
                                            <select name="prod-sizes" id="prod-sizes">
                                                {% for option in linked_sorted|dictsort:"size" %}
                                                    {% if item.product_id == option.product.product_id %}
                                                        <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </p>
                                        <p>€ {{ item.price }}</p>
                                        <p><label for="prod-quantity" aria-label="Quantity"></label>
                                        <input type="number" id="prod-quantity" name="prod-quantity" min="1" max="{{ item.stock_count }}">
                                        <button class="linked-button">Add to Cart</button></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <p>No product with this ID exists</p>
        {% endif %}
    </div>
{% endblock %}