{% extends "base.html" %}

{% block content %}
    <div class="profile">
        {% if request.get_full_path|slice:"0:15" == '/confirm-email/' and not request.user.is_authenticated %}
                {% include 'account/email_confirm.html' %}
        {% elif request.user.is_authenticated %}
            <div class="profile-menu">
                <a href="/profile">Account Details</a>
                <a href="/profile/addresses">Addresses</a>
                <a href="">Orders</a>
                <a href="">Watchlist</a>
                <a href="">Saved for Later</a>
            </div>
            {% if request.get_full_path == '/profile' %}
                {% include 'account_details.html' %}
            {% elif request.get_full_path == '/email/' %}
                {% include 'account/email_change.html' %}
            {% elif request.get_full_path|slice:"0:15" == '/confirm-email/' %}
                {% include 'account/email_confirm.html' %}
            {% elif request.get_full_path == '/password/change/' %}
                {% include 'account/password_change.html' %}
            {% elif request.get_full_path == '/profile/addresses' %}
                {% include 'addresses.html' %}
            {% elif request.get_full_path == '/profile/add-address' %}
                {% include 'add_address.html' %}
            {% endif %}
        {% else %}
            <p>You need to <a href="/login">log in</a> to view this page.</p>
        {% endif %}
    </div>
{% endblock %}