<div class="prod-sort">
    <button onclick=sortProds()>Sort Products</button>
    <div class="sort-dd">
        <a href="?sort=brand&dirn=asc">Brand (A-Z)</a>
        <a href="?sort=brand&dirn=desc">Brand (Z-A)</a>
        <a href="?sort=prod&dirn=asc">Product (A-Z)</a>
        <a href="?sort=prod&dirn=desc">Product (Z-A)</a>
        <a href="?sort=price&dirn=asc">Price (Low - High)</a>
        <a href="?sort=price&dirn=desc">Price (High - Low)</a>
        <a href="?sort=sale">On Sale</a>
    </div>
</div>