<div class="prod-sort">
    <form id="sort-form" action="" method="POST">
        {% csrf_token %}
        <button onclick=sortProds() type="button">Sort Products</button>
        <div class="sort-dd">
            <input type="hidden" name="sort-search" id="sort-search" value="{{ search_term }}">
            <input type="submit" name="brand-asc" value="Brand (A-Z)">
            <input type="submit" name="brand-desc" value="Brand (Z-A)">
            <input type="submit" name="prod-asc" value="Product (A-Z)">
            <input type="submit" name="prod-desc" value="Product (Z-A)">
            <input type="submit" name="price-asc" value="Price (Low - High)">
            <input type="submit" name="price-desc" value="Price (High - Low)">
            <input type="submit" name="sale" value="On Sale">
        </div>
    </form>
</div>