<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
    <div class="cart">
        <h2>Cart</h2>
        {% include 'form-responses.html' %}
        {% if checkout_empty %}
            <p class="form-error">We could not continue the checkout process, as stock changes resulted in your cart being emptied. You have not been charged.</p>
            <p class="form-error">The following items were removed:</p>
            {% include 'cart-stock.html' %}
        {% endif %}
        {% if stock_change and not checkout_empty %}
            <p class="form-error">The quantity for the following items in your cart has changed, due to stock updates:</p>
            {% include 'cart-stock.html' %}
        {% endif %}
        <div class="prod-table-details">
            {% if cart_prods %}
                <form action="{% url 'update-cart' %}" method="POST" class="update-cart">
                    {% csrf_token %}
                    {% include 'cart-contents.html' %}
                    <div class="update-buttons">
                        <button type="submit" name="update-cart-button" value="update-cart-button">Update Cart</button>
                        <button type="button" id="empty-cart-btn" onclick="modals('empty-cart-btn', 'empty-cart-modal')">Empty Cart</button>
                        <div id="empty-cart-modal" class="modal">
                            <div class="modal-content">
                                <span class="modal-close">&times;</span>
                                <p>Are you sure you want to completely empty your cart? This cannot be undone.</p>
                                <button type="submit" name="empty-cart-button" value="empty-cart-button">Confirm</button>
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <div class="checkout-button">
                        <button type="submit" name="checkout-button" value="checkout-button">Secure Checkout</button>
                    </div>
                </form>
            {% else %}
                <p>You don't have any items in your cart. <a href="/products/all">Start shopping now!</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}