{# Load base template and static files #}
{% extends "base.html" %}
{% load static %}

{# Load additional CSS file #}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{# Display list of products #}
{% block content %}
    <div class="all-prod-div">
        {# Include Django messages #}
        {% include "form-responses.html" %}
        {# Additional content for product searches #}
        {% if request.get_full_path == "/products/search" %}
            <div class="search-results-div">
                {% if search_term or sort_search %}
                    {# Message for user indicating available products for their search term #}
                    {% if products %}
                        <p>Here are the products matching your search for "{{ search_term }}"</p>
                    {# Message for user indicating no products are available for their search term #}
                    {% else %}
                        <p>We don't have products matching your search for "{{ search_term }}". You can <a class="inline-link" href="javascript:modals('prod-req-mailto-anchor', 'prod-req-mailto-modal')" id="prod-req-mailto-anchor">email us</a> to request we add products to our stock. If the email link doesn't work for you, please <a class="inline-link" href="{% url 'support' %}">visit our support page here</a> instead.</p>
                        {# Modal for user to contact support to request the product be stocked #}
                        <div id="prod-req-mailto-modal" class="modal">
                            <div class="modal-content">
                                <span class="modal-close">&times;</span>
                                <p>You can <a href="mailto:{{ contact_email }}?subject=Product%20Request&body=Please%20add%20details%20for%20your%20request:%20">click here</a> to automatically open your email client.</p>
                                <p class="modal-margin">Alternatively, you can reach us at: <span class="modal-mailto-email" onclick="copyMailto('prod-req-mailto-modal')">{{ contact_email }}</span></p>
                                <span class="modal-tooltip">Copied!</span>
                            </div>
                        </div>
                    {% endif %}
                {# Message for user indicating an empty search term #}
                {% else %}
                    <p>Your search was made with an empty search term. Please try again or check out our <a class="inline-link" href="/products/all">list of products here</a></p>
                {% endif %}
            </div>
        {% endif %}
        {% if request.get_full_path == "/products/search" and search_term == None and sort_search == None %}
        {# Display product sorting for all pages that include products in the results #}
        {% else %}
            {% if products %}
                {% include "sorting.html" %}
            {% endif %}
        {% endif %}
        {# Product list div #}
        <div class="all-prod-page">
            {% if products %}
                {% if products_distinct %}
                    {% for prod in products_distinct %}
                        {# Display product details for listed products #}
                        <div class="all-prod-ver">
                            <a href="/products/id={{ prod.product.product_id }}">
                                <img class="all-prod-img" src="{{ prod.product.product_pic.url }}" alt="Sports/Health Product image">
                            </a>
                            <div class="all-prod-details">
                                <div class="all-prod-name">
                                    <a href="/products/id={{ prod.product.product_id }}">
                                        {{ prod.product.brand }} {{ prod.product.product_name }}
                                    </a>
                                </div>
                                <div class="all-prod-other">
                                    <form action="{% url 'add-cart' prod.product_id %}" method="POST">
                                    {% csrf_token %}
                                        {# Display flavour select if available #}
                                        {% if prod.flavour %}
                                            <p>
                                                <label for="{{ prod.product_id }}-prod-flavours">Flavour:</label>
                                                <select name="{{ prod.product_id }}-prod-flavours" id="{{ prod.product_id }}-prod-flavours" onChange=allOptions()>
                                                    {% for option in products %}
                                                        {% if prod.product_id == option.product.product_id %}
                                                            <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </p>
                                        {% endif %}
                                        {# Display size select #}
                                        <p>
                                            <label for="{{ prod.product_id }}-prod-sizes">Size:</label>
                                            <select name="{{ prod.product_id }}-prod-sizes" id="{{ prod.product_id }}-prod-sizes" onChange=allOptions()>
                                                {% for option in products %}
                                                    {% if prod.product_id == option.product.product_id %}
                                                        <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </p>
                                        <p id="{{ prod.product_id }}-prod-price"></p>
                                        <div id="{{ prod.product_id }}-prod-cart" class="add-cart">
                                            {# Field for user to select quantity they want to purchase #}
                                            <label for="{{ prod.product_id }}-prod-quantity" aria-label="Quantity"></label>
                                            <input type="number" id="{{ prod.product_id }}-prod-quantity" name="{{ prod.product_id }}-prod-quantity" value="1" min="1" max="{{ prod.stock_count }}">
                                            {# Add selected product and quantity to cart #}
                                            <button class="all-prod-button">Add to Cart</button>
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <input type="hidden" name="active_sort" value="{{ active_sort }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {# Custom message when user sorts products and nothing is available (specifically for "on sale" #}
                {% else %}
                    {% if request.get_full_path != "/products/search" %}
                        <div class="prod-oos">
                            <p>We currently don't have products to show you in this category. Stay tuned!</p>
                        </div>
                    {% endif %}
                {% endif %}
            {# Custom message for user when no products are available in the overall list #}
            {% elif not products and not products_distinct and request.get_full_path != "/products/search" %}
                <div class="prod-oos">
                    <p>We currently don't have products to show you in this category. Stay tuned!</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{# Parse JSON data and store in variables for JS functions, and include additional Javascript file #}
{% block postloadjs %}
    <script>
        if ("{{ js_products }}" !== "") {
            const js_prods = "{{ js_products }}".replace(/&quot;/ig,'"')
            json_prods = JSON.parse(js_prods)
        }
        else {
            json_prods = ""
        }
        if ("{{ js_searched }}" !== "") {
            const js_searched_prods = "{{ js_searched }}".replace(/&quot;/ig,'"')
            json_searched_prods = JSON.parse(js_searched_prods)
        }
        else {
            json_searched_prods = ""
        }
    </script>
    <script src="{% static 'js/products.js' %}"></script>
{% endblock %}