<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="home-div">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if new_product %}
            <div class="feat-prod-div">
                <div class="feat-img-div">
                    <a href="/products/id={{ new_product.product.product_id }}"><img class="feat-img" src="{{ new_product.product.product_pic.url }}" alt="New featured product"></a>
                </div>
                <div class="feat-prod-details-div">
                    <a href="/products/id={{ new_product.product.product_id }}">
                        <p class="feat-prod-details">{{ new_product.product.brand }}</p>
                        <p class="feat-prod-details">{{ new_product.product.product_name }}</p>
                    </a>
                    <form action="{% url 'add-cart' new_product.product_id %}" method="POST">
                        {% csrf_token %}
                        {% if new_product.flavour %}
                            <p class="feat-prod-details">
                                <label for="{{ new_product.product_id }}-prod-flavours">Flavour:</label>{
                                <select name="{{ new_product.product_id }}-prod-flavours" id="{{ new_product.product_id }}-prod-flavours" onChange=featOptions()>
                                    {% for option in new_product_extras|dictsort:"flavour" %}
                                        {% if option.flavour == new_product.flavour %}
                                            <option value="{{ option.flavour }}" selected="selected">{{ option.flavour }}</option>
                                        {% else %}
                                            <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </p>
                        {% endif %}
                        <p class="feat-prod-details">
                            <label for="{{ new_product.product_id }}-prod-sizes">Size:</label>
                            <select name="{{ new_product.product_id }}-prod-sizes" id="{{ new_product.product_id }}-prod-sizes" onChange=featOptions()>
                                {% for option in new_product_extras|dictsort:"size" %}
                                    {% if option.size == new_product.size %}
                                        <option value="{{ option.size }}" selected="selected">{{ option.size }} {{ option.size_unit }}</option>
                                    {% else %}
                                        <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                        <p id="{{ new_product.product_id }}-prod-price" class="feat-prod-details"></p>
                        <div id="{{ new_product.product_id }}-prod-cart">
                            <label for="{{ new_product.product_id }}-prod-quantity">Quantity: </label>
                            <input type="number" id="{{ new_product.product_id }}-prod-quantity" name="{{ new_product.product_id }}-prod-quantity" value="1" min="1">
                            <button class="{{ new_product.product_id }}-add-cart" type="submit">Add to Cart</button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        {% else %}
            <div class="prod-oos">
                <p>We don't have a featured health product to show you yet. Stay tuned!</p>
            </div>
        {% endif %}
        <div class="home-row">
            {% if sports_product %}
                <div class="feat-prod-div">
                    <div class="feat-img-div">
                        <a href="/products/id={{ sports_product.product.product_id }}"><img class="feat-img" src="{{ sports_product.product.product_pic.url }}" alt="Featured sports product"></a>
                    </div>
                    <div class="feat-prod-details-div">
                        <a href="/products/id={{ sports_product.product.product_id }}">
                            <p class="feat-prod-details">{{ sports_product.product.brand }}</p>
                            <p class="feat-prod-details">{{ sports_product.product.product_name }}</p>
                        </a>
                        <form action="{% url 'add-cart' sports_product.product_id %}" method="POST">
                            {% csrf_token %}
                            {% if sports_product.flavour %}
                                <p class="feat-prod-details">
                                    <label for="{{ sports_product.product_id }}-prod-flavours">Flavour:</label>
                                    <select name="{{ sports_product.product_id }}-prod-flavours" id="{{ sports_product.product_id }}-prod-flavours" onChange=featOptions()>
                                        {% for option in sports_product_extras|dictsort:"flavour" %}
                                            {% if option.flavour == sports_product.flavour %}
                                                <option value="{{ option.flavour }}" selected="selected">{{ option.flavour }}</option>
                                            {% else %}
                                                <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </p>
                            {% endif %}
                            <p class="feat-prod-details">
                                <label for="{{ sports_product.product_id }}-prod-sizes">Size:</label>
                                <select name="{{ sports_product.product_id }}-prod-sizes" id="{{ sports_product.product_id }}-prod-sizes" onChange=featOptions()>
                                    {% for option in sports_product_extras|dictsort:"size" %}
                                        {% if option.size == sports_product.size %}
                                            <option value="{{ option.size }}" selected="selected">{{ option.size }} {{ option.size_unit }}</option>
                                        {% else %}
                                            <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </p>
                            <p id="{{ sports_product.product_id }}-prod-price" class="feat-prod-details"></p>
                             <div id="{{ sports_product.product_id }}-prod-cart">
                                <label for="{{ sports_product.product_id }}-prod-quantity">Quantity: </label>
                                <input type="number" id="{{ sports_product.product_id }}-prod-quantity" name="{{ sports_product.product_id }}-prod-quantity" value="1" min="1">
                                <button class="{{ sports_product.product_id }}-add-cart" type="submit">Add to Cart</button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="prod-oos">
                    <p>We don't have a featured health product to show you yet. Stay tuned!</p>
                </div>
            {% endif %}
            {% if health_product %}
                <div class="feat-prod-div">
                    <div class="feat-img-div">
                        <a href="/products/id={{ health_product.product.product_id }}"><img class="feat-img" src="{{ health_product.product.product_pic.url }}" alt="Featured health product"></a>
                    </div>
                    <div class="feat-prod-details-div">
                        <a href="/products/id={{ health_product.product.product_id }}">
                            <p class="feat-prod-details">{{ health_product.product.brand }}</p>
                            <p class="feat-prod-details">{{ health_product.product.product_name }}</p>
                        </a>
                        <form action="{% url 'add-cart' health_product.product_id %}" method="POST">
                            {% csrf_token %}
                            {% if health_product.flavour %}
                                <p class="feat-prod-details">
                                    <label for="{{ health_product.product_id }}-prod-flavours">Flavour:</label>
                                    <select name="{{ health_product.product_id }}-prod-flavours" id="{{ health_product.product_id }}-prod-flavours" onChange=featOptions()>
                                        {% for option in health_product_extras|dictsort:"flavour" %}
                                            {% if option.flavour == health_product.flavour %}
                                                <option value="{{ option.flavour }}" selected="selected">{{ option.flavour }}</option>
                                            {% else %}
                                                <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </p>
                            {% endif %}
                            <p class="feat-prod-details">
                                <label for="{{ health_product.product_id }}-prod-sizes">Size:</label>
                                <select name="{{ health_product.product_id }}-prod-sizes" id="{{ health_product.product_id }}-prod-sizes" onChange=featOptions()>
                                    {% for option in health_product_extras|dictsort:"size" %}
                                        {% if option.size == health_product.size %}
                                            <option value="{{ option.size }}" selected="selected">{{ option.size }} {{ option.size_unit }}</option>
                                        {% else %}
                                            <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </p>
                            <p id="{{ health_product.product_id }}-prod-price" class="feat-prod-details"></p>
                            <div id="{{ health_product.product_id }}-prod-cart">
                                <label for="{{ health_product.product_id }}-prod-quantity">Quantity: </label>
                                <input type="number" id="{{ health_product.product_id }}-prod-quantity" name="{{ health_product.product_id }}-prod-quantity" value="1" min="1">
                                <button class="{{ health_product.product_id }}-add-cart" type="submit">Add to Cart</button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="prod-oos">
                    <p>We don't have a featured health product to show you yet. Stay tuned!</p>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        const js_new_prod = "{{ js_new_product }}".replace(/&quot;/ig,'"')
        const js_sports_prod = "{{ js_sports_product }}".replace(/&quot;/ig,'"')
        const js_health_prod = "{{ js_health_product }}".replace(/&quot;/ig,'"')
        json_new_prod = JSON.parse(js_new_prod)
        json_sports_prod = JSON.parse(js_sports_prod)
        json_health_prod = JSON.parse(js_health_prod)
    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}