<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="prod-div">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if product %}
            <div class="hor-prod-div">
                <img class="prod-img" src="{{ product.first.product.product_pic.url }}" alt="Product image">
                <div class="prod-actions">
                    <p>Brand: {{ product.first.product.brand }}</p>
                    <p>Product: {{ product.first.product.product_name }}</p>
                    <form action="{% url 'add-cart' product.first.product.product_id %}" method="POST">
                    {% csrf_token %}
                        {% if product.first.flavour %}
                            <p>
                                <label for="{{ product.first.product.product_id }}-prod-flavours">Flavour:</label>
                                <select name="{{ product.first.product.product_id }}-prod-flavours" id="{{ product.first.product.product_id }}-prod-flavours" onChange=productOptions()>
                                    {% for option in product|dictsort:"flavour" %}
                                        {% if option.stock_count < 1 %}
                                            <option value="{{ option.flavour }}" class="oos" disabled>{{ option.flavour }}</option>
                                        {% else %}
                                            <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </p>
                        {% endif %}
                        <p>
                            <label for="{{ product.first.product.product_id }}-prod-sizes">Size:</label>
                            <select name="{{ product.first.product.product_id }}-prod-sizes" id="{{ product.first.product.product_id }}-prod-sizes" onChange=productOptions()>
                                {% for option in product|dictsort:"size" %}
                                    {% if option.stock_count < 1 %}
                                        <option value="{{ option.size }}" class="oos" disabled>{{ option.size }} {{ option.size_unit }}</option>
                                    {% else %}
                                        <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                        <p id="{{ product.first.product.product_id }}-prod-price"></p>
                        <div id="{{ product.first.product.product_id }}-prod-cart">
                            <label for="{{ product.first.product.product_id }}-prod-quantity">Quantity: </label>
                            <input type="number" id="{{ product.first.product.product_id }}-prod-quantity" name="{{ product.first.product.product_id }}-prod-quantity" value="1" min="1">
                            <button>Add to Cart</button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    <p id="{{ product.first.product.product_id }}-prod-stock"></p>
                </div>
            </div>
            <div class="prod-details">
                <h2>Description</h2>
                <p>{{ product.first.product.description }}</p>
                <hr class="prod-split">
                <h2>Ingredients</h2>
                <p>{{ product.first.ingredients }}</p>
            </div>
            {% if linked_sorted %}
                <div class="similar-prod">
                    <p>You may also like...</p>
                    <div class="linked-hor">
                        {% for item in linked_sorted_distinct %}
                            <div class="linked-ver">
                                <a href="/products/id={{ item.product.product_id }}">
                                    <img class="linked-img" src="{{ item.product.product_pic.url }}" alt="Product image">
                                </a>
                                <div class="linked-details">
                                    <div class="linked-name">
                                        <a href="/products/id={{ item.product.product_id }}">
                                            {{ item.product.brand }} {{ item.product.product_name }}
                                        </a>
                                    </div>
                                    <div class="linked-other">
                                        <form action="{% url 'add-cart' item.product_id %}" method="POST">
                                        {% csrf_token %}
                                            {% if item.flavour %}
                                                <p>
                                                    <label for="{{ item.product_id }}-prod-flavours" aria-label="Flavour"></label>
                                                    <select name="{{ item.product_id }}-prod-flavours" id="{{ item.product_id }}-prod-flavours" onChange=linkedOptions()>
                                                        {% for option in linked_sorted %}
                                                            {% if item.product_id == option.product.product_id %}
                                                                <option value="{{ option.flavour }}">{{ option.flavour }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </p>
                                            {% endif %}
                                            <p>
                                                <label for="{{ item.product_id }}-prod-sizes" aria-label="Size"></label>
                                                <select name="{{ item.product_id }}-prod-sizes" id="{{ item.product_id }}-prod-sizes" onChange=linkedOptions()>
                                                    {% for option in linked_sorted|dictsort:"size" %}
                                                        {% if item.product_id == option.product.product_id %}
                                                            <option value="{{ option.size }}">{{ option.size }} {{ option.size_unit }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </p>
                                            <p id="{{ item.product_id }}-prod-price"></p>
                                            <div id="{{ item.product_id }}-prod-cart" class="add-cart">
                                                <label for="{{ item.product_id }}-prod-quantity" aria-label="Quantity"></label>
                                                <input type="number" id="{{ item.product_id }}-prod-quantity" name="{{ item.product_id }}-prod-quantity" value="1" min="1" max="{{ item.stock_count }}">
                                                <button class="linked-button">Add to Cart</button>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="prod-oos">
                <p>No product with this ID exists</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        const js_prod = "{{ js_product }}".replace(/&quot;/ig,'"')
        const js_linked_prods = "{{ js_linked_sorted }}".replace(/&quot;/ig,'"')
        json_prod = JSON.parse(js_prod)
        if (js_linked_prods) {
            json_linked_prods = JSON.parse(js_linked_prods)
        }
    </script>
    <script src="{% static 'js/products.js' %}"></script>
{% endblock %}