/* Global styling for width, margins, background, font, and padding for main page sections */
* {
    max-width: 1920px;
    margin: auto;
    background-color: #F5FEFD;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body {
    margin: auto 20px;
}

main {
    max-width: 90%;
    margin-top: 30px;
    padding-bottom: 60px;
}

/* Global styling for all anchor links */
a {
    color: #3e75b0;
    text-decoration: none;
}

a:hover {
    color: #226244;
    text-decoration: underline;
}

a:active {
    text-shadow: 1px 1px 10px #226244;
}

/* Global button styling */
button:hover {
    text-decoration: underline;
    background-color: #226244;
}

button:active {
    text-shadow: 1px 1px 10px #F5FEFD;
}

button, button:disabled:hover, button[disabled]:hover, button:disabled:active, button[disabled]:active {
    background-color: #3e75b0;
    border-radius: 5px;
    color: #F5FEFD;
}

/* Input/Select styling */
input, select {
    background-color: #c8fad5;
    border-radius: 5px;
}

/* Margin for H2 headers */
h2 {
    margin-bottom: 20px;
}

/* Styling for labels belonging to required inputs */
label:has(+input:required):after {
    content: '*';
    color: #B30000;
    margin-right: 3px;
}

/* Flex style for containers on all pages */
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Inline link styling for better visibility */
.inline-link {
    font-weight: bold;
}

/* Django message styling */
.errorlist * {
    list-style: none;
    color: #B30000;
    text-align: center;
}

.form-error {
    color: #B30000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.form-error a {
    font-weight: bold;
}

.form-confirm {
    color: #006600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.form-confirm a {
    font-weight: bold;
}

/* Navigation section styling */
/* Overall nav div */
.nav-div {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Left nav bar */
#nav-logout {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: unset;
    color: #3e75b0;
    font-weight: bold;
    margin: 5px auto;
    padding-left: 0;
}

#nav-logout:hover {
    color: #226244;
    text-decoration: underline;
}

#nav-logout:active {
    text-decoration: underline;
    text-shadow: 1px 1px 10px #226244;
}

.nav-left {
    margin-top: 0;
    text-align: left;
    font-weight: bold;
    width: 15%;
}

.nav-left a {
    display: inline-block;
    margin: 7px auto;
    font-size: 18px;
}

/* Right nav section */
.nav-right {
    margin-top: 0;
    width: 15%;
}

.nav-right img, .nav-right a {
    border-radius: 20px;
    display: block;
    margin: auto 0 auto auto;
    position: relative;
    width: 100%;
    max-width: 190px;
    height: auto;
}

/* Middle nav section */
.nav-middle {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

/* Support and Newsletter section */
.nav-sup-news {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 60px;
}

.nav-support *:not(.modal *) {
    font-size: 16px;
}

/* Search bar */
.nav-search input {
    max-width: 360px;
    width: 20vw;
}

.nav-search button {
    margin-left: 10px;
}

/* Nav buttons */
.sub-nav-div .nav-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: #aafaf6;
    border-radius: 5px;
}

.nav-buttons button {
    border: none;
    border-right: 1px solid #3e75b0;
    border-radius: unset;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #aafaf6;
    color: black;
}

.nav-buttons button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.nav-buttons button:last-child {
    border-right: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.nav-buttons button:hover {
    text-decoration: underline;
}

.nav-buttons button:active {
    color: #226244;
}

/* Styling for modal divs */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    overflow: auto;
    background-color: #b5e0b1;
    border-radius: 5px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #b5e0b1;
}

.modal *:not(button):not(input) {
    background-color: #b5e0b1;
}

/* Adjusted styling for modal links */
.modal a, .modal-mailto-email {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.modal a:hover, .modal-mailto-email:hover {
    color: #3e75b0;
    text-decoration: underline;
}

.modal a:active, .modal-mailto-email:active {
    text-shadow: 1px 1px 10px #226244;
    color: #226244;
}

/* Modal margins */
.modal-margin {
    margin-top: 10px;
}

.modal-content input, .modal-content button {
    margin-top: 15px;
}

/* Modal tooltip styling */
.modal-tooltip {
    display: none;
    margin-top: 5px;
    font-style: italic;
}

/* Modal close button */
.modal-close {
    color: #B30000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #b5e0b1;
}

.modal-close:hover, .modal-close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

/* Global styling for mid divs */
.mid-content {
    width: 60%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
    text-align: left;
}

/* Global styling for form divs*/
.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Setting specific margin for password reset paragraph */
.form-text {
    margin-bottom: 15px;
}

/* Global styling for form label/input pairs */
.label-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* Margin specifically for account creation email2 field */
label[for='id_email2'], #id_email2 {
    margin-bottom: 10px;
}

/* Password requirement styling */
.pass-req {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: auto;
}

.pass-req p {
    margin-bottom: 10px;
}

.pass-req button {
    margin-top: 20px;
}

/* Horizontal line margins splitting content on informational pages */
.info-split {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Horizontal line margin for footer */
.footer-split {
    margin-bottom: 5px;
}

/* Global footer styling */
footer {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin: auto 5px 5px 5px;
}

footer * {
    font-size: 14px;
}

#footer-links {
    width: 70%;
    margin-left: 15%;
}

#footer-top-link {
    visibility: hidden;
    width: 15%;
}

/* Hide mobile and mid-size screen content by default */
.mobile, .mid-screen {
    display: none;
}


/* Media Queries */
/* For screens up to 1100px width */
@media screen and (max-width: 1100px) {
    /* Nav styling */
    .nav-buttons button {
        margin: 0;
        padding: 7px;
    }

    .nav-search input {
        width: 25vw;
    }

    /* Increasing width for first div within containers */
    #container > div:first-child {
        width:100%;
        margin: 0;
    }
}


/* Screens up to 800px width */
@media screen and (max-width: 800px) {
    /* Hide all larger screen elements */
    .desktop {
        display: none;
    }

    /* Display mid-sized screen elements */
    nav.mid-screen {
        display: flex;
        flex-direction: column;
    }

    button.mid-screen {
        display: block;
    }

    /* Reduce size and margins for left nav */
    .nav-left {
        margin: 0 0 0 5px;
        text-align: left;
    }

    .nav-left a {
        margin: 2px auto;
    }

    /* Reduce margin and remove padding for nav logout button */
    #nav-logout {
        margin: 2px auto;
        padding: 0;
        width: unset;
    }

    /* Decrease gap between Newsletter and Support links */
    .nav-sup-news {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 20px;
    }

    /* Set vw width for nav search */
    .nav-search input {
        width: 35vw;
    }

    /* Specific modal width */
    .modal {
        width: 70%;
    }
}


/* Screens up to 500px width */
@media screen and (max-width: 500px) {
    /* Reduce global font size */
    * {
        font-size: 12px;
    }

    /* Reduce body margins */
    body {
        margin: auto 5px;
    }

    /* Increase main section width and reduce margin */
    main {
        width: 100%;
        max-width: unset;
        margin-top: 15px;
    }

    /* Increase input and button widths */
    input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    /* Adjusting nav bar styling */
    .nav-div {
        margin: 5px auto;
        justify-content: unset;
    }

    /* Left nav section */
    .nav-left .fa-solid {
        font-size: 15px;
    }

    .nav-left a {
        font-size: 14px;
    }

    /* Middle nav section */
    .nav-sup-news {
        margin-bottom: 5px;
        gap: 9px;
    }

    .nav-news {
        margin: auto auto auto 0;
        border-right: 1px solid black;
        padding-right: 6px;
    }

    .nav-support {
        margin: auto 0 auto auto;
    }

    .nav-support *:not(.modal *) {
        font-size: 12px;
    }

    .nav-support a, .nav-support i {
        text-decoration: none;
    }

    .nav-search {
        margin: auto;
    }

    .nav-search form {
        display: flex;
        flex-direction: row;
    }

    .nav-search button {
        margin-left: 5px;
    }

    .nav-buttons button {
        font-size: 12px;
        padding: 5px;
    }

    /* Right nav section */
    .nav-right {
        margin: 0 0 auto 0;
    }

    .nav-right img {
        border-radius: 10px;
    }

    /* Increase modal width */
    .modal {
        width: 80%;
    }

    /* Increase width of middle page div */
    .mid-content {
        width: 100%;
    }

    /* Increase width for form label/input pairs */
    .label-input {
        width: 100%;
    }

    /* Set top-margin for first button after label/input pairs */
    .label-input > button:first-child {
        margin-top: 10px;
    }

    /* Adjust width, padding, and margin for password requirements text */
    .pass-req {
        width: 100%;
    }

    .pass-req ul {
        padding-left: 20px;
    }

    .pass-req button {
        margin-top: 5px;
    }

    /* Adjust footer styling */
    footer * {
        font-size: 12px;
    }

    #footer-links {
        margin: auto 20px;
        width: 100%;
    }
}


/* Screens up to 320px width */
@media screen and (max-width: 320px) {
    /* Change support/newsletter nav section to flex column */
    .nav-sup-news {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    /* Adjust middle nav styling */
    .nav-news {
        border-right: none;
        margin: auto;
        padding: 0;
    }

    .nav-support {
        margin: auto;
    }

    .nav-search form {
        flex-direction: column;
    }

    .nav-search button {
        margin: 5px 0;
    }

    /* Increase modal width */
    .modal {
        width: 100%;
    }
}