* {
    max-width: 1920px;
    margin: auto;
    background-color: #F5FEFD;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

body {
    margin: auto 20px;
}

main {
    max-width: 90%;
    margin-top: 30px;
    padding-bottom: 60px;
}

a {
    color: #6DB1FC;
    text-decoration: none;
}

a:hover {
    color: #90CD94;
}

a:active {
    font-weight: bold;
}

button:hover {
    background-color: #90CD94;
}

button:active {
    color: white;
}

button, button:disabled:hover, button[disabled]:hover, button:disabled:active, button[disabled]:active {
    background-color: #6DB1FC;
    border-radius: 5px;
}

input, select {
    background-color: #9FFFB8;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

label:has(+input:required):after {
    content: '*';
    color: red;
    margin-right: 3px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.errorlist * {
    list-style: none;
    color: red;
    text-align: center;
}

.form-error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.form-confirm {
    color: green;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

#nav-logout {
    background: none;
    border: none;
    border-radius: unset;
    color: #6DB1FC;
    font-weight: bold;
    margin: 5px auto;
    padding-left: 0;
}

#nav-logout:hover {
    color: #90CD94;
}

#nav-logout:active {
    text-decoration: underline;
}

.nav-div {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nav-right {
    width: 15%;
}

.nav-right img {
    border-radius: 20px;
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 190px;
    height: auto;
}

.nav-right a {
    display: block;
}

.nav-middle {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.nav-sup-news {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 60px;
}

.support-details {
    font-size: 16px;
}

.nav-support a, .support-details i {
    text-decoration: underline;
    font-size: 16px;
}

.nav-search input {
    max-width: 360px;
    width: 20vw;
}

.nav-search button {
    margin-left: 10px;
}

.nav-middle .nav-buttons {
    margin-top: 20px;
    background-color: #88FFF9;
    border-radius: 5px;
}

.nav-buttons button {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #88FFF9;
}

.nav-buttons button:hover {
    text-decoration: underline;
}

.nav-buttons button:active {
    color: white;
}

.nav-left {
    text-align: left;
    font-weight: bold;
    width: 20%;
}

.nav-left a {
    display: inline-block;
    margin: 7px auto;
    text-decoration: none;
    font-size: 18px;
}

.nav-left a:active {
    text-decoration: underline;
}

.mid-content {
    width: 60%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
    text-align: left;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

label[for="id_email2"], #id_email2 {
    margin-bottom: 10px;
}

.pass-req {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: auto;
}

.pass-req p {
    margin-bottom: 10px;
}

.pass-req button {
    margin-top: 20px;
}

.info-split {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-split {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin: auto 5px 5px 5px;
}

footer * {
    font-size: 14px;
}

.footer-links {
    width: 70%;
    margin-left: 15%;
}

#footer-top-link {
    visibility: hidden;
    width: 15%;
}

.mobile, .mid-screen {
    display: none;
}


@media screen and (max-width: 1100px) {
    .nav-buttons button {
        margin: 0;
        padding: 7px;
    }

    .nav-search input {
        width: 25vw;
    }

    #container > div:first-child {
        width:100%;
        margin: 0;
    }
}


@media screen and (max-width: 800px) {
    .mid-desk, .desktop {
        display: none;
    }

    nav.mid-screen {
        display: flex;
        flex-direction: column;
    }

    button.mid-screen {
        display: block;
    }

    #nav-logout {
        margin: 2px auto;
        padding: 0;
        width: unset;
    }

    .nav-search input {
        width: 35vw;
    }
}


@media screen and (max-width: 500px) {
    .mobile {
        display: flex;
        flex-direction: column;
    }

    * {
        font-size: 12px;
    }

    body {
        margin: auto 5px;
    }

    main {
        width: 100%;
        max-width: unset;
        margin-top: 15px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .nav-div {
        margin: 5px auto;
        justify-content: unset;
    }

    .nav-left .fa-solid {
        font-size: 15px;
    }

    .nav-left a {
        font-size: 14px;
    }

    .nav-support a, .support-details i {
        font-size: 12px;
        text-decoration: none;
    }

    .nav-right {
        margin: auto 0 auto 0;
    }

    .nav-right img {
        border-radius: 10px;
    }

    .nav-sup-news {
        margin-bottom: 5px;
        gap: 9px;
    }

    .nav-news {
        margin: auto auto auto 0;
        border-right: 1px solid black;
        padding-right: 6px;
    }

    .nav-support {
        margin: auto 0 auto auto;
    }

    .nav-search {
        margin: auto;
    }

    .nav-search form {
        display: flex;
        flex-direction: row;
    }

    .nav-search input {
        width: unset;
    }

    .nav-search button {
        margin-left: 5px;
    }

    .nav-left {
        margin: 0 0 0 5px;
        text-align: left;
        width: 15%;
    }

    .nav-left a {
        margin: 2px auto;
    }

    .nav-middle {
        width: 70%;
    }

    .nav-buttons {
        display: flex;
    }

    .nav-buttons button {
        font-size: 12px;
        border-right: 1px solid #6DB1FC;
        border-radius: unset;
        padding: 5px;
    }

    .nav-buttons button:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px
    }

    .nav-buttons button:last-child {
        border-right: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px
    }

    .mid-content {
        width: 100%;
    }

    .form-text {
        margin-bottom: 15px;
    }

    .label-input {
        width: 100%;
    }

    .label-input > button:first-child {
        margin-top: 10px;
    }

    .pass-req {
        width: 100%;
    }

    .pass-req ul {
        padding-left: 20px;
    }

    .pass-req button {
        margin-top: 5px;
    }

    footer * {
        font-size: 12px;
    }

    .footer-links {
        margin: auto 20px auto auto;
        width: 85%;
    }
}


@media screen and (max-width: 310px) {
    .nav-search form {
        flex-direction: column;
    }

    .nav-search button {
        margin: 5px 0;
    }
}