@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    max-width: 1400px;
    margin: auto;
    background-color: #F5FEFD;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

label:has(+input:required):after {
    content: '*';
    color: red;
    margin-right: 3px;
}

hr {
    margin-bottom: 15px;
}

a {
    color: #6DB1FC;
    text-decoration: none;
}

a:hover {
    color: #90CD94;
}

a:active {
    font-weight: bold;
}

button {
    background: #6DB1FC;
    border-radius: 5px;
}

button:hover {
    background: #90CD94;
}

button:active {
    color: white;
}

input {
    background-color: #9FFFB8;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

#nav-logout {
    background: none;
    border: none;
    border-radius: unset;
    color: #6DB1FC;
    font-weight: bold;
    margin: 5px auto;
}

#nav-logout:hover {
    color: #90CD94;
}

#nav-logout:active {
    text-decoration: underline;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.pass-req {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.pass-req p {
    margin-bottom: 10px;
}

.pass-req button {
    margin-top: 20px;
}

.nav-div {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nav-left {
    width: 25%;
}

.nav-left img {
    border-radius: 20px;
    display: block;
    margin: auto;
}

.nav-middle {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.nav-search input {
    width: 350px;
    height: 25px;
}

.nav-middle .nav-buttons {
    margin-top: 20px;
    background-color: #88FFF9;
    border-radius: 5px;
}

.nav-buttons button {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #88FFF9;
}

.nav-buttons button:hover {
    text-decoration: underline;
}

.nav-buttons button:active {
    color: white;
}

.nav-support {
    text-align: center;
    width: 15%;
}

.support-details {
    font-size: 16px;
}

.nav-support a, .support-details i {
    text-decoration: underline;
    font-size: 16px;
}

.nav-right {
    text-align: center;
    font-weight: bold;
    width: 10%;
}

.nav-right a {
    display: inline-block;
    margin: 7px auto;
    text-decoration: none;
    font-size: 18px;
}

.nav-right a:active {
    text-decoration: underline;
}

main {
    max-width: 90%;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: row;
}

.mid-content {
    width: 60%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
    text-align: left;
}

.home-div {
    display: flex;
    flex-direction: column;
}

.home-row {
    display: flex;
    flex-direction: row;
}

.feat-prod-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: solid 1px black;
    border-radius: 7px;
    margin: 20px;
    padding: 5px;
}

.home-row .feat-prod-div {
    width: 50%;
}

.feat-img-div {
    max-width: 35%;
}

.feat-img {
    max-width: 100%;
    max-height: 300px;
}

.feat-prod-details-div {
    padding: 10px;
}

.feat-prod-details {
    margin-bottom: 10px;
}

.errorlist * {
    list-style: none;
    color: red;
    text-align: center;
}

.form-error {
    color: red;
    text-align: center;
}

.form-confirm {
    color: green;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}
