@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    max-width: 1920px;
    margin: auto;
    background-color: #F5FEFD;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

body {
    margin: auto 20px;
}

label:has(+input:required):after {
    content: '*';
    color: red;
    margin-right: 3px;
}

a {
    color: #6DB1FC;
    text-decoration: none;
}

a:hover {
    color: #90CD94;
}

a:active {
    font-weight: bold;
}

button {
    background-color: #6DB1FC;
    border-radius: 5px;
}

button:hover {
    background-color: #90CD94;
}

button:active {
    color: white;
}

input {
    background-color: #9FFFB8;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

.addr-view h3 {
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 0;
}

#nav-logout {
    background: none;
    border: none;
    border-radius: unset;
    color: #6DB1FC;
    font-weight: bold;
    margin: 5px auto;
}

#nav-logout:hover {
    color: #90CD94;
}

#nav-logout:active {
    text-decoration: underline;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

label[for="id_email"], .label-input #id_email {
    margin-top: 20px;
}

label[for="id_email2"], #id_email2 {
    margin-bottom: 10px;
}

.pass-req {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: auto;
}

.pass-req p {
    margin-bottom: 10px;
}

.pass-req button {
    margin-top: 20px;
}

.nav-div {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nav-left {
    width: 25%;
}

.nav-left img {
    border-radius: 20px;
    display: block;
    margin: auto;
}

.nav-left a {
    display: block;
}

.nav-middle {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.nav-search input {
    width: 360px;
}

.nav-search button {
    margin-left: 10px;
}

.nav-middle .nav-buttons {
    margin-top: 20px;
    background-color: #88FFF9;
    border-radius: 5px;
}

.nav-buttons button {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #88FFF9;
}

.nav-buttons button:hover {
    text-decoration: underline;
}

.nav-buttons button:active {
    color: white;
}

.nav-support {
    text-align: center;
    width: 15%;
}

.support-details {
    font-size: 16px;
}

.nav-support a, .support-details i {
    text-decoration: underline;
    font-size: 16px;
}

.nav-right {
    text-align: center;
    font-weight: bold;
    width: 10%;
}

.nav-right a {
    display: inline-block;
    margin: 7px auto;
    text-decoration: none;
    font-size: 18px;
}

.nav-right a:active {
    text-decoration: underline;
}

main {
    max-width: 90%;
    margin-top: 30px;
    padding-bottom: 60px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mid-content {
    width: 60%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
    text-align: left;
}

.home-div {
    display: flex;
    flex-direction: column;
}

.home-div {
    margin: 20px;
}

.home-row {
    display: flex;
    flex-direction: row;
}

.home-row .prod-oos:first-child {
    margin-right: 10px;
}

.home-row .prod-oos:last-child {
    margin-left: 10px;
}

.all-prod-page:has(.prod-oos) {
    margin-left: auto;
}

.prod-oos, .search-results-div {
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    border: solid 1px black;
    border-radius: 7px;
}

.feat-prod-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: solid 1px black;
    border-radius: 7px;
    margin: 20px;
    padding: 5px;
}

.feat-prod-details-div input, .linked-other input, .prod-other input, .cart-quantity-input {
    width: 50px;
}

.home-row .feat-prod-div {
    width: 50%;
}

.feat-img-div {
    max-width: 35%;
}

.feat-img {
    max-width: 100%;
    max-height: 300px;
}

.feat-prod-details-div {
    padding: 10px;
}

.feat-prod-details {
    margin-bottom: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
}

.profile-menu * {
    width: 100%;
    margin: 3px auto;
}

.acc-details, .pw-change, .email-change, .email-confirm {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
}

.acc-details * {
    margin-left: 0;
}

.acc-details p, .pw-change ul {
    margin-bottom: 15px;
}

.profile-buttons {
    width: 25%;
    margin-right: 75%;
}

.prof-button {
    width: 100%;
    margin-top: 10px;
}

.del-button {
    width: 100%;
    margin-top: 30px;
}

.pw-change *, .email-change * {
    margin-left: 0;
}

.pw-change button {
    width: 35%;
    margin-right: 65%;
    margin-top: 10px;
}

.email-change button {
    width: 50%;
    margin-right: 65%;
    margin-top: 15px;
}

.email-change label[for="id_email"] {
    margin-right: 40px;
}

.email-change #id_email {
    margin-top: 15px;
    margin-bottom: 10px;
}

.email-change label[for="current_email"] {
    margin-right: 10px;
}

.addr-msg {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.addresses {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.default-addr {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
    border-left: 1px solid black;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.other-addr {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 50%;
    border-left: 1px solid black;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.other-addr-list {
    flex: 1;
    margin: 0;
}

.addresses h2 {
    margin-left: 0;
    margin-top: 0;
}

.addresses button {
    margin-top: 0;
    margin-left: 0;
}

.add-addr {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0;
}

.add-addr-button {
    margin-bottom: 30px;
}

.add-addr > .label-input, .checkout-addr input, .checkout-addr select {
    margin: 5px 0;
}

.add-addr label {
    margin-left: 0;
}

.add-addr input, .add-addr select {
    margin-right: 0;
  }

.add-addr select, .prod-actions select, .feat-prod-details select, .linked-other select, .all-prod-other select, .checkout-addr-form select {
    border-radius: 5px;
    background-color: #9FFFB8;
}

.linked-other select, .all-prod-other select {
    width: 100%;
}

.add-addr button {
    width: 140px;
    margin: 20px 0 10px auto;
}

.addr-view {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
}

.addr-view p {
    margin-left: 0;
    margin-bottom: 1px;
}

.addr-view button {
    margin-top: 15px;
}

.addr-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 30px;
}

.addr-buttons button {
    width: 100%;
}

.orders {
    margin-left: 0;
    margin-top: 0;
    width: 80%;
}

.prod-table table, .prod-table-details table {
    text-align: center;
    border-collapse: collapse;
}

.prod-table table th, .prod-table table td, .prod-table-details table th, .prod-table-details table td {
    border-left: 1px solid;
    padding: 10px;
}

.prod-table table th:first-child, .prod-table table td:first-child, .prod-table-details table th:first-child, .prod-table-details table td:first-child, .prod-table-details table .cart-totals td {
    border-left: 0;
}

:nth-last-child(1 of .cart-tbl-prod) {
    border-bottom: 1px solid black;
}

.prod-table-details table .cart-totals td {
    padding: 20px 10px 0 10px;
}

.order-prod, .cart-prod {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.order-prod p, .cart-prod p {
    margin-left: 0;
}

.order-prod-img, .cart-prod-img {
    min-width: 75px;
    max-width: 75px;
    margin-right: 10px;
    margin-left: 0;
}

.details-table {
    margin: 50px auto;
}

.order-sums, .cart-totals {
    font-weight: bold;
    white-space: nowrap;
}

.cart-totals td {
    text-align: left;
}

.order-sums td {
    padding: 20px 10px 0 10px;
}

.sum-title {
    text-align: left;
}

.prod-div {
    width: 80%;
}

.hor-prod-div {
    display: flex;
    flex-direction: row;
}

.prod-actions p {
    margin: 5px auto;
}

.prod-actions input {
    margin-right: 10px;
}

.prod-img {
    max-height: 300px;
}

.prod-details {
    margin: 30px auto;
}

.prod-split {
    margin: 15px auto;
}

.similar-prod {
    margin-top: 100px;
}

.linked-hor {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.linked-ver {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 200px;
    margin: 20px 15px;
}

.linked-img, .all-prod-img {
    height: 150px;
    margin-bottom: 10px;
}

.linked-details, .all-prod-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.linked-name, .all-prod-name {
    margin-bottom: 20px;
    text-align: center;
    flex: 1;
}

.linked-other, .all-prod-other {
    width: 100%;
    margin-left: 0;
}

.linked-other p, .all-prod-other p {
    margin-bottom: 10px;
}

.linked-other button, .all-prod-other button {
    margin-left: 5px;
}

.all-prod-div {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.all-prod-page {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}

.all-prod-ver {
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 25%;
    margin: 50px 15px auto 15px;
}

.add-cart {
    display: flex;
    flex-direction: row;
}

.add-cart input {
    width: 25%;
}

.add-cart button {
    margin-left: 5%;
    width: 70%
}

.prod-sort {
    margin-left: 15px;
    padding-bottom: 20px;
}

.sort-dd {
    display: none;
    flex-direction: column;
    position: fixed;
    margin-top: 10px;
    text-align: left;
    background-color: #9FFFB8;
    border-radius: 5px;
    width: 190px;
}

.sort-dd input {
    text-align: left;
    margin-left: 0;
    margin-top: 5px;
    padding: 0 10px;
    text-decoration: underline;
    border: none;
}

.sort-dd input:hover {
    color: white;
}

.sort-dd input:active {
    font-weight: bold;
}

.sort-dd:first-child {
    padding-top: 10px;
}

.sort-dd:last-child {
    padding-bottom: 10px;
}

.cart {
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
}

.cart-prod-del {
    color: red;
    font-weight: bold;
    margin-right: -5px;
    cursor: pointer;
    min-width: unset;
    background-color: unset;
    border: unset;
}

.update-buttons {
    margin-top: 30px;
    float: left;
}

.update-buttons button:first-child {
    margin-right: 20px;
}

.checkout-button {
    margin-top: 30px;
    float: right;
}

.checkout-guest, .checkout-create {
    display: flex;
}

.checkout-signin-split {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.checkout-signin-split::before, .checkout-signin-split::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid black;
}

.checkout-signin-split:not(:empty)::before {
    margin-right: .5em;
}

.checkout-signin-split:not(:empty)::after {
    margin-left: .5em;
}

.checkout {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
}

.checkout h2 {
    margin-left: 0;
}

.checkout-addr-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.billing-addr-form button {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.cart-back-button {
    margin-left: 0;
}

.addr-form-button {
    width: 30%;
    margin-top: 30px;
}

.checkout-addr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.checkout-h3 {
    font-weight: bold;
    margin-top: 0;
}

.addr-form-div {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.shipping-addr-form, .billing-addr-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
}

.billing-addr-form p, .shipping-addr-form p {
    width: 100%;
    margin: 0;
}

.billing-addr-form p:nth-of-type(1), .shipping-addr-form p:nth-of-type(1) {
    margin-top: 30px;
}

.addr-form-div p:has(>input:required)::after {
    content: '*';
    color: red;
    margin: 0;
    display: inline-block;
}

.checkout-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checkout-summary .prod-table-details {
    width: 100%;
}

.summ-split {
    width: 100%;
    margin: 20px auto;
}

.cart-toggle-div {
    width: 80%;
}

.checkout .cart-tbl-prod {
    display: none;
}

.checkout-summ-addr-outer {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.checkout-summ-addr-div {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.checkout-summ-h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.checkout-summ-addr-view {
    margin-top: 0;
}

.edit-addr-div {
    width: 80%;
}

#payment-button {
    margin-top: 15px;
}

.confirm-checkout {
    display: flex;
    flex-direction: column;
}

.confirm-checkout span {
    color: red;
}

.errorlist * {
    list-style: none;
    color: red;
    text-align: center;
}

.form-error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.form-confirm {
    color: green;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.footer-split {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

footer * {
    font-size: 14px;
}

.footer-links {
    width: 70%;
    margin-left: 15%;
}

#footer-top-link {
    visibility: hidden;
    width: 15%;
}