{# Display Account Details Profile page #}
<div class="acc-details">
    <h2>Account Details</h2>
    {# Include Django messages #}
    {% include "form-responses.html" %}
    <p>Email address: {{ user.email }}</p>
    <div class="profile-buttons">
        {# Change account email and password options #}
        <button type="button" class="prof-button" onclick="location.href='/email'">Change Email</button>
        <button type="button" class="prof-button" onclick="location=/password\change/">Change Password</button>
        {# Unsubscribe option if user email is signed up to the newsletter #}
        {% if signed_up %}
            <form method="POST" action="{% url 'profile' %}">
                {% csrf_token %}
                <button class="prof-button" name="unsub-news-button" id="unsub-news-button" value="unsub-news-button" type="submit">Unsubscribe from Newsletter</button>
            </form>
        {% endif %}
        {# Delete account feature #}
        <form method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
            <button type="button" class="del-button" id="del-acc-btn" onclick="modals('del-acc-btn', 'del-acc-modal')">Delete Account</button>
            {# Modal for user to confirm deletion #}
            <div id="del-acc-modal" class="modal">
                <div class="modal-content">
                    <span class="modal-close">&times;</span>
                    <p>Are you sure you want to delete your account? This cannot be undone.</p>
                    <button type="submit" name="del-acc-button" value="del-acc-button" class="del-button">Confirm Deletion</button>
                </div>
            </div>
        </form>
    </div>
</div>