{% load mathfilters %}

<div class="orders">
    <h2>Order Details</h2>
    {% include 'form_responses.html' %}
    {% if order %}
        <div class="prod-table">
            <table>
                <tr class="cart-tbl-prod">
                    <th aria-label="Date" title="Date">Date</th>
                    <th aria-label="Order #" title="Order #">Order #</th>
                    <th aria-label="Tracking" title="Tracking">Tracking</th>
                    <th aria-label="Order Status" title="Order Status">Order Status</th>
                    <th aria-label="Action" title="Action" class="desktop">Action</th>
                </tr>
                <tr class="cart-tbl-prod">
                    <td>{{ order.order_dt|date:'Y-m-d' }}</td>
                    <td>{{ order.order_id }}</td>
                    {% if order.tracking_link %}
                        <td><a href="{{ order.tracking_link }}" target="_blank">Track</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    <td>{{ order.get_status_display }}</td>
                {% if order.status in 'PEND,PROC,RDY' %}
                    <td class="desktop"><button type="button" onclick="location.href='mailto:{{ contact_email }}?subject=Cancellation Request for Order {{ order.order_id }}&body=Please add details for your request: '">Request Cancellation</button></td>
                {% else %}
                    <td class="desktop"><button type="button" onclick="location.href='mailto:{{ contact_email }}?subject=Refund Request for Order {{ order.order_id }}&body=Please add details for your request: '">Request Refund</button></td>
                {% endif %}
                </tr>
            </table>
            {% if order.status in 'PEND,PROC,RDY' %}
                <button class="mobile" type="button" onclick="location.href='mailto:{{ contact_email }}?subject=Cancellation Request for Order {{ order.order_id }}&body=Please add details for your request: '">Request Cancellation</button>
            {% else %}
                <button class="mobile" type="button" onclick="location.href='mailto:{{ contact_email }}?subject=Refund Request for Order {{ order.order_id }}&body=Please add details for your request: '">Request Refund</button>
            {% endif %}
        </div>
        <div class="prod-table-details">
            <table>
                <tr class="cart-tbl-prod">
                    <th aria-label="Product" title="Product">Product</th>
                    <th aria-label="Size" title="Size">Size</th>
                    <th aria-label="Quantity" title="Quantity">Quantity</th>
                    <th aria-label="Individual Price" title="Individual Price" class="Desktop">Individual Price</th>
                    <th aria-label="Sum" title="Sum">Sum</th>
                </tr>
                {% for item, product in order_details %}
                    <tr class="cart-tbl-prod">
                        <td><a href="/products/id={{ item.product.product_id }}">
                            <div class="order-prod">
                                <img class="order-prod-img" src="{{ item.product.product.product_pic.url }}" alt="Product image">
                                {% if item.product.flavour %}
                                    <p>{{ item.product.product.brand }} {{ item.product.product.product_name }} {{ item.product.flavour }}</p>
                                {% else %}
                                    <p>{{ item.product.product.brand }} {{ item.product.product.product_name }}</p>
                                {% endif %}
                            </div>
                        </a></td>
                        <td>{{ item.product.size }} {{ item.product.size_unit }}</td>
                        <td>{{ item.quantity }}</td>
                        <td class="Desktop">{{ item.product.price }}</td>
                        <td>{{ item.product.price|mul:item.quantity }}</td>
                    </tr>
                {% endfor %}
                <tr class="order-sums">
                    <td class="sum-title">Shipping</td>
                    <td></td>
                    <td></td>
                    <td class="Desktop"></td>
                    <td>€ {{ order.shipping_cost }}</td>
                </tr>
                <tr class="order-sums">
                    <td class="sum-title">Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>€ {{ order.grand_total }}</td>
                </tr>
            </table>
        </div>
    {% else %}
        <p>This order number ({{ request.get_full_path|slice:"13:" }}) does not exist.</p>
    {% endif %}
</div>