<div class="orders">
    <h2>Orders</h2>
    {% include 'form_responses.html' %}
    {% if orders %}
        <div class="prod-table">
            <table>
                <tr class="cart-tbl-prod">
                    <th>Date</th>
                    <th>Order #</th>
                    <th>Tracking</th>
                    <th>Order Status</th>
                    <th>View</th>
                </tr>
                {% for order in orders %}
                    <tr class="cart-tbl-prod">
                        <td>{{ order.order_dt|date:'Y-m-d' }}</td>
                        <td>{{ order.order_id }}</td>
                        {% if order.tracking_link %}
                            <td><a href="{{ order.tracking_link }}" target="_blank">Click here</a></td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td>{{ order.get_status_display }}</td>
                        <td><button type="button" onclick="location.href='profile/orders/id={{ order.order_id }}'">View Order</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No orders to display</p>
    {% endif %}
</div>