<div class="orders">
    <h2>Orders</h2>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="form-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="form-error">
                {{ error|escape }}
            </div>
        {% endfor %}
        <br>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="form-error">
                    {{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="form-confirm">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <br>
    {% endif %}
    {% if orders %}
        <div class="prod-table">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Order #</th>
                    <th>Tracking</th>
                    <th>Order Status</th>
                    <th>View</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.order_dt|date:'Y-m-d' }}</td>
                        <td>{{ order.order_id }}</td>
                        {% if order.tracking_link %}
                            <td><a href="{{ order.tracking_link }}" target="_blank">Click here</a></td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td>{{ order.get_status_display }}</td>
                        <td><button type="button" onclick="location.href='profile/orders/id={{ order.order_id }}'">View Order</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No orders to display</p>
    {% endif %}
</div>