/* Styling add to cart section */
.add-cart {
    display: flex;
    flex-direction: row;
}

.add-cart input {
    width: 25%;
}

.add-cart button {
    margin-left: 5%;
    width: 70%
}

/* Styling for additional add to cart buttons */
button[class$='add-cart'], .home-row button[class$='add-cart'], .hor-prod-div div[id$='prod-cart'] button {
    margin-top: 10px;
}

/* Homepage styling */
.home-div {
    display: flex;
    flex-direction: column;
}

.home-div {
    margin: 20px;
}

.home-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

/* Styling for all product images on all product pages */
.feat-img, .all-prod-div .prod-img, .order-prod .prod-img {
    max-height: 300px;
    max-width: 100%;
    object-position: center;
}

.hor-prod-div .prod-img {
    max-height: 300px;
    max-width: 100%;
    object-position: center;
}

/* Featured product styling */
.feat-prod-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: solid 1px black;
    border-radius: 7px;
    margin: 20px 0;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;
}

.feat-prod-details-div input, .linked-other input, .prod-other input, .prod-actions input {
    width: 50px;
}

.home-row .feat-prod-div {
    width: 50%;
}

.home-row .feat-prod-details-div {
    width: 65%;
}

.home-row .feat-img-div {
    width: 35%;
}

.feat-img-div {
    margin-right: 0;
}

.feat-prod-details-div {
    padding: 10px;
    margin-left: 0;
}

.feat-prod-details {
    margin-bottom: 10px;
}

.feat-prod-details:has(select[id$="-prod-flavours"]) {
    overflow: auto;
}

/* Style for individual product pages */
.prod-div {
    width: 80%;
}

.hor-prod-div {
    display: flex;
    flex-direction: row;
}

.prod-actions p {
    margin: 5px auto;
}

.prod-actions input {
    margin-right: 10px;
}

.prod-details {
    margin: 30px auto;
}

#prod-desc, #prod-ing {
    display: none;
    margin-top: 10px;
}

.prod-split {
    margin: 15px auto;
}

/* Styling for linked products section on individual product pages */
.similar-prod {
    margin-top: 100px;
}

.linked-hor {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.linked-ver {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 200px;
    margin: 20px 15px;
}

/* Styling for both linked products and multi-product pages */
.linked-img, .all-prod-img {
    height: 150px;
    margin-bottom: 10px;
}

.linked-details, .all-prod-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.linked-name, .all-prod-name {
    margin-bottom: 20px;
    text-align: center;
    flex: 1;
}

.linked-other, .all-prod-other {
    width: 100%;
    margin-left: 0;
}

.linked-other p, .all-prod-other p {
    margin-bottom: 10px;
}

.linked-other select, .all-prod-other select {
    width: 100%;
}

.linked-other button, .all-prod-other button {
    margin-left: 5px;
}

/* Styling for out of stock and search result divs */
.prod-oos, .search-results-div {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: solid 1px black;
    border-radius: 7px;
}

/* Style for multi-product pages where everything is out of stock */
.all-prod-page:has(.prod-oos) {
    margin-left: auto;
}

/* Style for all multi-product pages */
.all-prod-div {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.all-prod-page {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: space-around;
}

.all-prod-page::after {
    content: '';
    flex: auto;
}

.all-prod-ver {
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 25%;
    margin: 50px 15px 0 15px;
}

/* Style for product Sort feature */
.prod-sort {
    margin-left: 15px;
    padding-bottom: 20px;
}

.sort-dd {
    display: none;
    flex-direction: column;
    position: fixed;
    margin-top: 10px;
    text-align: left;
    background-color: #c8fad5;
    border-radius: 5px;
    width: 190px;
}

.sort-dd input {
    text-align: left;
    margin-left: 0;
    margin-top: 5px;
    padding: 0 10px;
    border: none;
}

.sort-dd input:hover {
    color: #226244;
    text-decoration: underline;
}

.sort-dd input:active {
    font-weight: bold;
}

.sort-dd:first-child {
    padding-top: 10px;
}

.sort-dd:last-child {
    padding-bottom: 10px;
}


/* Media Queries */
/* Screens up to 800px */
@media screen and (max-width: 800px) {
    /* Homepage style adjustments */
    .home-div {
        margin: auto;
        gap: 20px;
    }

    .home-row {
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .prod-oos {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* Featured product style adjustments (on homepage) */
    .feat-prod-div, .home-row .feat-prod-div {
        width: 100%;
        margin: auto;
        max-width: 400px;
    }

    .feat-prod-div *, .home-row .feat-prod-div * {
        width: 100%;
        margin: 0;
    }

    .feat-prod-img-name {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }

    .feat-img-div, .home-row .feat-img-div {
        width: 20%;
        max-width: unset;
        margin: 0;
    }

    .feat-img {
        margin-left: 0;
    }

    .feat-name-div, .home-row .feat-name-div {
        width: 80%;
        margin: auto auto auto 10px;
    }

    .feat-prod-details, .home-row .feat-prod-details {
        margin-bottom: 5px;
    }

    p[id$='prod-price'], .home-row p[id$='prod-price'] {
        margin: 10px auto;
    }

    .home-row .feat-prod-details-div input {
        width: 50px;
    }

    /* Reduce product page gap between sections */
    .hor-prod-div {
        gap: 30px;
    }
}


/* Screens up to 500px width */
@media screen and (max-width: 500px) {
    /* Individual product page adjustments */
    .hor-prod-div {
        flex-direction: column;
        gap: unset;
    }

    .prod-img {
        width: 20%;
    }

    .hor-prod-div div[id$='prod-cart'] button {
        width: auto;
    }

    #prod-desc-link, #prod-ing-link {
        display: block;
    }

    .prod-actions input {
        width: 30px;
    }

    /* Adjustments for linked products section */
    .similar-prod {
        margin-top: 50px;
    }

    .linked-img {
        height: 100px;
    }

    /* Multi-product page styling adjustments */
    .prod-sort {
        margin-left: 0;
    }

    .all-prod-ver {
        flex: 1 0 45%;
        max-width: unset;
        min-width: unset;
        margin: 0 5px 15px 5px;
        border-bottom: 1px solid black;
        padding-bottom: 15px;
    }

    a:has(.all-prod-img) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .all-prod-img {
        height: 100px;
    }

    .all-prod-details {
        margin: 0;
    }
}