<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="cart">
        <h2>Cart</h2>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="form-error">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="form-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
            <br>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}
        <div class="prod-table-details">
            {% if cart_prods %}
                <form action="{% url 'update-cart' %}" method="POST" class="update-cart">
                    {% csrf_token %}
                    {% include 'cart_contents.html' %}
                    <div class="update-buttons">
                        <button type="submit" name="update-cart-button" value="update-cart-button">Update Cart</button>
                        <button type="submit" name="empty-cart-button" value="empty-cart-button" onclick="return confirm('Are you sure you want to completely empty your cart? This cannot be undone')">Empty Cart</button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <div class="checkout-button">
                        <button type="submit" name="checkout-button" value="checkout-button">Secure Checkout</button>
                    </div>
                </form>
            {% else %}
                <p>You don't have any items in your cart. <a href="/products/all">Start shopping now!</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}