{% load mathfilters %}

<table id="cart-detail">
    <tr class="cart-tbl-prod">
        <th aria-label="Product" title="Product">Product</th>
        <th aria-label="Size" title="Size">Size</th>
        <th aria-label="Quantity" title="Quantity">Quantity</th>
        <th aria-label="Individual Price" title="Individual Price" class="desktop">Individual Price</th>
        <th aria-label="Sum" title="Sum">Sum</th>
{#        Feature to be implemented in version 1.1#}
{#        {% if request.get_full_path == '/cart' %}#}
{#            {% if request.user.is_authenticated %}#}
{#                <th></th>#}
{#            {% endif %}#}
{#        {% endif %}#}
    </tr>
    {% for product, quantity in cart_prods %}
        <tr class="cart-tbl-prod">
            <td><a href="/products/id={{ product.product.product_id }}">
                <div class="cart-prod">
                    <img class="desktop cart-prod-img" src="{{ product.product.product_pic.url }}" alt="Product image">
                    {% if product.flavour %}
                        <p>{{ product.product.brand }} {{ product.product.product_name }} {{ product.flavour }}</p>
                    {% else %}
                        <p>{{ product.product.brand }} {{ product.product.product_name }}</p>
                    {% endif %}
                </div>
            </a></td>
            <td>{{ product.size }} {{ product.size_unit }}</td>
            {% if request.get_full_path == '/cart' %}
                <td>
                    <div class="cart-quantity">
                        <label for="{{ product.id }}-prod-quantity" aria-label="quantity"></label>
                        {% if product.stock_count > 0 %}
                            <input type="number" id="{{ product.id }}-prod-quantity" name="{{ product.id }}-prod-quantity" class="cart-quantity-input" value="{{ quantity }}" min="1" max="{{ product.stock_count }}">
                            <input type="submit" id="{{ product.id }}-prod-del" name="{{ product.id }}-prod-del" class="cart-prod-del" value="X">
                        {% else %}
                            <p>Out of stock, sorry!</p>
                            <input type="submit" id="{{ product.id }}-prod-del" name="{{ product.id }}-prod-del" class="cart-prod-del" value="X">
                        {% endif %}
                        <label for="{{ product.id }}-prod-del" aria-label="Delete from cart"></label>
                    </div>
                </td>
            {% else %}
                <td>{{ quantity }}</td>
            {% endif %}
            <td class="desktop">€ {{ product.price }}</td>
            <td>€ {{ product.price|mul:quantity }}</td>
{#            Feature to be implemented in version 1.1#}
{#            {% if request.get_full_path == '/cart' %}#}
{#                {% if request.user.is_authenticated %}#}
{#                    <td><button>Save for Later</button></td>#}
{#                {% endif %}#}
{#            {% endif %}#}
        </tr>
    {% endfor %}
    {% if subtotal != grand_total %}
        <tr class="cart-totals">
            <td class="sum-title">Subtotal</td>
            <td></td>
            <td></td>
{#            Feature to be implemented in version 1.1#}
{#            <td></td>#}
            <td>€ {{ subtotal }}</td>
        </tr>
    {% endif %}
    <tr class="cart-totals">
        <td class="sum-title">Shipping</td>
        <td></td>
        <td></td>
{#        Feature to be implemented in version 1.1#}
{#        <td></td>#}
        {% if shipping != 0 %}
            <td>€ {{ shipping }}</td>
        {% else %}
            <td class="desktop">Free Shipping</td>
            <td class="mobile">Free</td>
        {% endif %}
    </tr>
    <tr class="cart-totals">
        <td class="sum-title">Grand Total</td>
        <td></td>
        <td></td>
{#        Feature to be implemented in version 1.1#}
{#        <td></td>#}
        <td>€ {{ grand_total }}</td>
    </tr>
</table>