<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="checkout">
        <h2>Error</h2>
        {% include 'form-responses.html' %}
        <div class="checkout-error">
            {% if client_secret and cart %}
                <p>An error occurred during checkout that prevented us from displaying your order summary. Please <strong>do not</strong> make a second purchase, to avoid a duplicate charge. We have been notified of this error during your purchase, will investigate this urgently, and contact you with the outcome. We sincerely apologise for any inconvenience. If you wish to get in touch with us in the meantime, please <a href="javascript:modals('checkout-error-mailto-anchor', 'checkout-error-mailto-modal')" id="checkout-error-mailto-anchor">contact us</a>.</p>
                <div id="checkout-error-mailto-modal" class="modal">
                    <div class="modal-content">
                        <span class="modal-close">&times;</span>
                        <p>You can <a href="mailto:{{ contact_email }}">click here</a> to automatically open your email client.</p>
                        <p class="modal-margin">Alternatively, you can reach us at: <span class="modal-mailto-email" onclick="copyMailto('checkout-error-mailto-modal')">{{ contact_email }}</span></p>
                        <span class="modal-tooltip">Copied!</span>
                    </div>
                </div>
            {% elif client_secret and not cart %}
                <p>It seems you might have tried to refresh this page after completing a purchase. To avoid a duplicate charge, we prevented a refresh of the order details. If you encountered an issue and wish to get in touch with us, please <a href="javascript:modals('checkout-refresh-mailto-anchor', 'checkout-refresh-mailto-modal')" id="checkout-refresh-mailto-anchor">contact us</a>.</p>
                <div id="checkout-refresh-mailto-modal" class="modal">
                    <div class="modal-content">
                        <span class="modal-close">&times;</span>
                        <p>You can <a href="mailto:{{ contact_email }}">click here</a> to automatically open your email client.</p>
                        <p class="modal-margin">Alternatively, you can reach us at: <span class="modal-mailto-email" onclick="copyMailto('checkout-refresh-mailto-modal')">{{ contact_email }}</span></p>
                        <span class="modal-tooltip">Copied!</span>
                    </div>
                </div>
            {% else %}
                {% if request.user.is_authenticated %}
                    <p>You cannot access your checkout summary via direct link or after refreshing the page. This is to prevent duplicate purchases and charges. You can view your order summary in your order confirmation email, or <a href="/profile/orders">in your profile</a>.</p>
                {% else %}
                    <p>You cannot access your checkout summary via direct link or after refreshing the page. This is to prevent duplicate purchases and charges. You can view your order summary in your order confirmation email.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}