<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="checkout">
        <h2>Confirm and Complete Purchase</h2>
        {% include 'form_responses.html' %}
        <div class="checkout-summary">
            <div class="prod-table-details">
                <div class="cart-toggle-div">
                    <a href="javascript:toggleCart()">Show/Hide Cart</a>
                </div>
                {% include 'cart_contents.html' %}
            </div>
            <div class="summ-split">
                <hr>
            </div>
            <div class="edit-addr-div">
                <form id="checkout-edit-addr" action="" method="POST">
                    {% csrf_token %}
                    <a href="javascript:checkoutEditAddr()" class="hidden-submit">Edit Address</a>
                    <button type="submit" class="hidden-submit" name="checkout-edit-addr" value="checkout-edit-addr" formaction="{% url 'checkout' %}"></button>
                    <input type="hidden" name="shipping-addr" value="{{ shipping_addr }}">
                    <input type="hidden" name="billing-addr" value="{{ billing_addr }}">
                </form>
            </div>
            <div class="checkout-summ-addr-outer">
                <div class="checkout-summ-addr-div">
                    <div class="checkout-summ-h3">
                        <h3>Shipping Address</h3>
                    </div>
                    <div class="checkout-summ-addr-view">
                        <p>{{ shipping_addr.first_name }} {{ shipping_addr.last_name }}</p>
                        <p>{{ shipping_addr.addr_line1 }}</p>
                        {% if shipping_addr.addr_line2 %}
                            <p>{{ shipping_addr.addr_line2 }}</p>
                        {% endif %}
                        {% if shipping_addr.addr_line3 %}
                            <p>{{ shipping_addr.addr_line3 }}</p>
                        {% endif %}
                        <p>{{ shipping_addr.city }}
                        {{ shipping_addr.eir_code }}</p>
                        <p>{{ shipping_addr.county }},
                        {{ shipping_addr.country }}</p>
                        <p>0{{ shipping_addr.phone_nr }}</p>
                        {% if not user.is_authenticated %}
                            <p>{{ shipping_addr.email }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="checkout-summ-addr-div">
                    <div class="checkout-summ-h3">
                        <h3>Billing Address</h3>
                    </div>
                    <div class="checkout-summ-addr-view">
                        <p>{{ billing_addr.first_name }} {{ billing_addr.last_name }}</p>
                        <p>{{ billing_addr.addr_line1 }}</p>
                        {% if billing_addr.addr_line2 %}
                            <p>{{ billing_addr.addr_line2 }}</p>
                        {% endif %}
                        {% if billing_addr.addr_line3 %}
                            <p>{{ billing_addr.addr_line3 }}</p>
                        {% endif %}
                        <p>{{ billing_addr.city }}
                        {{ billing_addr.eir_code }}</p>
                        <p>{{ billing_addr.county }},
                        {{ billing_addr.country }}</p>
                        <p>0{{ billing_addr.phone_nr }}</p>
                        {% if not user.is_authenticated %}
                            <p>{{ billing_addr.email }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="summ-split">
                <hr>
            </div>
            <form method="POST" action="{% url 'checkout-success' %}" id="payment-form">
                {% csrf_token %}
                <div class="order-note-h3">
                    <h3>Note to Seller</h3>
                </div>
                <div class="order-note">
                    <label for="checkout-order-note" aria-label="Note to Seller"></label>
                    <textarea id="checkout-order-note" name="checkout-order-note"></textarea>
                </div>
                <div class="summ-split">
                    <hr>
                </div>
                <div class="mb-3" id="card-element"></div>
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                <div class="confirm-checkout">
                    <span>Your card will be charged € {{ grand_total }} once you confirm your purchase.</span>
                    <button id="payment-button" type="submit">Confirm Purchase</button>
                    <input type="hidden" name="shipping-addr" value="{{ shipping_addr }}">
                    <input type="hidden" name="billing-addr" value="{{ billing_addr }}">
                    <input type="hidden" name="cart-prods" value="{{ cart_prods }}">
                    <input type="hidden" name="shipping" value="{{ shipping }}">
                    <input type="hidden" name="subtotal" value="{{ subtotal }}">
                </div>
            </form>
            <button type="button" class="cart-back-button" onclick="location.href='/cart'">Back to Cart</button>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/checkout.js' %}"></script>
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}