<!-- Load the base html file -->
{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="checkout">
        <h2>Checkout</h2>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="form-error">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="form-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
            <br>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}
        <form method="POST" action="" class="checkout-addr-form">
            {% csrf_token %}
            <div class="checkout-addr">
                <div class="addr-form-div">
                    <div class="checkout-h3">
                        <h3>Shipping Address</h3>
                    </div>
                    <div class="shipping-addr-form">
                        {% if addr_list %}
                            <label for="shipping-addr-list" aria-label="Saved Addresses"></label>
                            <select name="shipping-addr-list" id="shipping-addr-list" onchange="shipAddrSelection(this)">
                                {% for addr in addr_list %}
                                    {% if addr.default_addr %}
                                        <option selected value="{{ addr.address_id }}-addr">{{ addr.addr_line1 }} | {{ addr.city }} | {{ addr.eir_code }}</option>
                                    {% else %}
                                        <option value="{{ addr.address_id }}-addr">{{ addr.addr_line1 }} | {{ addr.city }} | {{ addr.eir_code }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if order_addr_form %}
                            {{ order_addr_form.as_p }}
                        {% else %}
                            {{ ship_order_addr_form.as_p }}
                        {% endif %}
                    </div>
                </div>
                <div class="addr-form-div">
                    <div class="checkout-h3">
                        <h3>Billing Address</h3>
                    </div>
                    <div class="billing-addr-form">
                        <button type="button" onclick="addrMatch()">Same as Shipping</button>
                        {% if addr_list %}
                            <label for="billing-addr-list" aria-label="Saved Addresses"></label>
                            <select name="billing-addr-list" id="billing-addr-list" onchange="billAddrSelection(this)">
                                {% for addr in addr_list %}
                                    {% if addr.default_addr %}
                                        <option selected value="{{ addr.address_id }}-addr">{{ addr.addr_line1 }} | {{ addr.city }} | {{ addr.eir_code }}</option>
                                    {% else %}
                                        <option value="{{ addr.address_id }}-addr">{{ addr.addr_line1 }} | {{ addr.city }} | {{ addr.eir_code }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if order_addr_form %}
                            {{ order_addr_form.as_p }}
                        {% else %}
                            {{ bill_order_addr_form.as_p }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <button type="submit" class="addr-form-button" name="addr-form-button" value="addr-form-button">Next</button>
        </form>
        <button type="button" class="cart-back-button" onclick="location.href='/cart'">Back to Cart</button>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        if ("{{ js_addr }}") {
            const js_address = "{{ js_addr }}".replace(/&quot;/ig,'"')
            json_addr = JSON.parse(js_address)
        }
    </script>
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}