{# Orders div on Profile page #}
<div class="orders">
    <h2>Orders</h2>
    {# Display orders table if orders are present #}
    {% if orders %}
        <div class="prod-table">
            <table>
                <tr class="cart-tbl-prod">
                    <th title="Date">Date</th>
                    <th title="Order #">Order #</th>
                    <th title="Tracking">Tracking</th>
                    <th title="Order Status">Order Status</th>
                    <th title="View Order">View</th>
                </tr>
                {% for order in orders %}
                    <tr class="cart-tbl-prod">
                        <td>{{ order.order_dt|date:"Y-m-d" }}</td>
                        <td>{{ order.order_id }}</td>
                        {# Insert Tracking link if available #}
                        {% if order.tracking_link %}
                            <td><a class="inline-link" href="{{ order.tracking_link }}" target="_blank" rel="external nofollow noopener" aria-label="Open the tracking link for your order (opens a new tab for the shipping provider's page)">Track</a></td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td>{{ order.get_status_display }}</td>
                        {# Link to detailed order data #}
                        <td><button type="button" onclick="location.href='/profile/orders/id={{ order.order_id }}'">View Order</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {# Custom message if no orders are linked to the account #}
    {% else %}
        <p>No orders to display</p>
    {% endif %}
</div>