{# Load base template #}
{% extends "base.html" %}

{# Display custom 403 page #}
{% block content %}
    <div class="mid-content">
        <h2>Error</h2>
        <p>An error has occurred. We apologise for any inconvenience, but have notified the cleaners to check for bugs! If you have any concerns about this error, please <a class="inline-link" href="javascript:modals('csrf-mailto-anchor', 'csrf-mailto-modal')" id="csrf-mailto-anchor">contact us</a>. If the contact link doesn't work for you, please <a class="inline-link" href="{% url 'support' %}">visit our support page here</a> instead.</p>
        {# Modal for customer support if needed #}
        <div id="csrf-mailto-modal" class="modal">
            <div class="modal-content">
                <span class="modal-close">&times;</span>
                <p>You can <a href="mailto:{{ contact_email }}">click here</a> to automatically open your email client.</p>
                <p class="modal-margin">Alternatively, you can reach us at: <span class="modal-mailto-email" onclick="copyMailto('csrf-mailto-modal')">{{ contact_email }}</span></p>
                <span class="modal-tooltip">Copied!</span>
            </div>
        </div>
        <br>
        <p><a class="inline-link" href="/products/all">Continue shopping</a></p>
    </div>
{% endblock %}