{# Load base template #}
{% extends "base.html" %}

{# Display custom 404 page #}
{% block content %}
    <div class="mid-content">
        {# Include Django messages #}
        {% include "form-responses.html" %}
        <h2>Page Not Found</h2>
        <p>The page you are looking for isn't available. If this error is unexpected, please <a href="javascript:modals('404-mailto-anchor', '404-mailto-modal')" id="404-mailto-anchor">contact us</a>.</p>
        {# Modal for customer support if needed #}
        <div id="404-mailto-modal" class="modal">
            <div class="modal-content">
                <span class="modal-close">&times;</span>
                <p>You can <a href="mailto:{{ contact_email }}">click here</a> to automatically open your email client.</p>
                <p class="modal-margin">Alternatively, you can reach us at: <span class="modal-mailto-email" onclick="copyMailto('404-mailto-modal')">{{ contact_email }}</span></p>
                <span class="modal-tooltip">Copied!</span>
            </div>
        </div>
        <br>
        <p><a href="/products/all">Continue shopping</a></p>
    </div>
{% endblock %}