{% extends "base.html" %}

{% block content %}
    <div class="mid-content">
        {% include "form-responses.html" %}
        <h2>About Us</h2>
        <p>We are a small, local business in Cork, Ireland, focused on sports and health nutrition.</p>
        <br>
        <p>Our goal is to bring high-quality sports and health products to Ireland through our website. We provide top-notch products that support a healthy and active lifestyle. We aim to become a trusted source for premium health and sports nutrition in Ireland.</p>
        <br>
        <p>Quality and integrity are paramount to us. We are committed to offering only the best products to our customers, and believe in honesty and transparency in all aspects of our business. Our customers are our top priority, and we strive to exceed their expectations.</p>
        <br>
        <p>The team here at NutriForce Sports and Health Nutrition is small, but dedicated!</p>
        <p>Our Founder and CEO: Erika</p>
        <p>Software developer: Yasmin</p>
        <br>
        <p>At NutriForce, we are passionate about helping our customers achieve their health and fitness goals. Join us on our journey to a healthier Ireland!</p>
    </div>
{% endblock %}