<!-- Load static files folder -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Metadata for the site -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta name="description" content="A small business in Cork, for all your sports and health nutrition needs">
            <meta name="keywords" content="sports nutrition, health products, protein, energy, vitamins, supplements, local business, small business, ireland, cork, munster, sports, health">
        {% endblock %}

        {% block corecss %}
            <!-- Google fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
            <!-- Link to the stylesheet -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extracss %}
        {% endblock %}

        {% block extras %}
            <!-- Site title -->
            <title>NutriForce Sports and Health Nutrition</title>
            <!-- Load favicon -->
            <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">
        {% endblock %}

        {% block corejs %}
            <!-- Jquery script -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!-- Font Awesome script -->
            <script src="https://kit.fontawesome.com/3e8d6f7307.js" crossorigin="anonymous"></script>
            <!-- Stripe script -->
            <script src="https://js.stripe.com/v3/"></script>
            <!-- Base project JS -->
            <script src="{% static 'js/base.js' %}"></script>
        {% endblock %}
    </head>
    <body>
        <nav>
            <!-- Nav bar -->
            <div class="nav-div">
                <div class="nav-left">
                    <a href="/cart" aria-label="View Cart" title="View Cart"><i class="fa-solid fa-cart-shopping"></i> View Cart</a>
                    {% if user.is_authenticated %}
                        <br>
                        <a href="/profile" aria-label="Profile" title="Profile"><i class="fa-solid fa-user"></i> Profile</a>
                        <br>
                        <form method="POST" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <button type="submit" id="nav-logout" aria-label="Log Out" title="Log Out"><i class="fa-solid fa-right-from-bracket"></i> Log Out</button>
                        </form>
                    {% else %}
                        <br>
                        <a href="/login" aria-label="Log In" title="Log In"><i class="fa-regular fa-user"></i> Log In</a>
                        <br>
                        <a href="/signup" aria-label="Create Account" title="Create Account"><i class="fa-solid fa-user-plus"></i> Create Account</a>
                    {% endif %}
                </div>
                <div class="nav-middle">
                    <div class="nav-sup-news">
                        <div class="nav-news">
                            <form action="/newsletter" method="POST" id="news-signup-form">
                                {% csrf_token %}
                                <!-- Newsletter signup -->
                                <a href="javascript:modals('news-signup-anchor', 'news-modal')" id="news-signup-anchor">Newsletter Signup</a>
                                <div id="news-modal" class="modal">
                                    <div class="modal-content">
                                        <span class="modal-close">&times;</span>
                                        <label for="news-email-input">Enter your email to sign up for our newsletter:</label>
                                        <input type="email" name="news_email" id="news-email-input">
                                        <button type="submit" id='news-email-button' name="news-email-button" value="news-email-button">Subscribe</button>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="nav-support">
                            <!-- Contact details -->
                            <a href="javascript:modals('sup-mailto-anchor', 'sup-mailto-modal')" id="sup-mailto-anchor"><i class="fa-solid fa-envelope"></i> Support</a>
                            <div id="sup-mailto-modal" class="modal">
                                <div class="modal-content">
                                    <span class="modal-close">&times;</span>
                                    <p>You can <a href="mailto:{{ contact_email }}">click here</a> to automatically open your email client.</p>
                                    <p class="modal-margin">Alternatively, you can reach us at: <span class="modal-mailto-email" onclick="copyMailto('sup-mailto-modal')">{{ contact_email }}</span></p>
                                    <span class="modal-tooltip">Copied!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-search">
                        <!-- Search bar -->
                        <form action="{% url 'search-results' %}" role="search" method="POST">
                            {% csrf_token %}
                            <label for="nav-search" aria-label="Search Bar"></label>
                            <input type="search" id="nav-search" name="nav-search" placeholder="Search">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <!-- Nav buttons -->
                    <div class="nav-buttons">
                        <button onclick="location.href='/products/all'" title="All Products" aria-label="All Products">All Products</button>
                        |
                        <button onclick="location.href='/products/sports'" title="Sports Products" aria-label="Sports Products">Sports</button>
                        |
                        <button onclick="location.href='/products/health'" title="Health Products" aria-label="Health Products">Health</button>
                        |
                        <button onclick="location.href='/products/new'" title="New Products" aria-label="New Products">What's New</button>
                    </div>
                </div>
                <div class="nav-right">
                    <!-- Site logo -->
                    <a href="/"><img src="{{ MEDIA_URL }}logo.jpeg" alt="NutriForce Sports and Health Nutrition Logo"></a>
                </div>
            </div>
        </nav>
        <main>
            <div id="container">
                {% block content %}
                <!-- Main site content -->
                {% endblock content %}
            </div>
        </main>
        <footer>
            <hr class="footer-split">
            <!-- Footer for copyright -->
            {% block copyright %}
                <div class="footer-content">
                    <p id="footer-links">
                        <a href="https://www.facebook.com/profile.php?id=100094712224458" target="_blank" rel="external nofollow noopener"><i class="fa-brands fa-facebook"></i>ollow Us</a>
                         |
                        <a href="{% url 'shipping' %}">Shipping</a>
                         |
                        <a href="{% url 'returns' %}">Returns</a>
                         |
                        <a href="{% url 'about' %}">About Us</a>
                         |
                        <a href="{% url 'terms' %}">Terms & Conditions</a>
                         |
                        <a href="{% url 'privacy' %}">Privacy Policy</a>
                    </p>
                    <p id="footer-top-link">
                        <a href="javascript:topScroll()">Back to top</a>
                    </p>
                </div>
            {% endblock copyright %}
        </footer>
        {% block postloadjs %}
        {% endblock %}
    </body>
</html>