/* Checkout page styling */
/* Checkout Login/As Guest page */
.checkout-guest, .checkout-create {
    display: flex;
}

.checkout-signin-split {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

/* Style for splitting sections for different checkout options */
.checkout-signin-split::before, .checkout-signin-split::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid black;
}

.checkout-signin-split:not(:empty)::before {
    margin-right: .5em;
}

.checkout-signin-split:not(:empty)::after {
    margin-left: .5em;
}

/* Styling for main checkout pages */
.checkout {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
}

/* Headers for checkout pages */
.checkout h2 {
    margin-left: 0;
}

.checkout-h3 {
    font-weight: bold;
    margin-top: 0;
}

/* Margin for Back to Cart button */
.cart-back-button {
    margin-left: 0;
}

/* Checkout Address page styling */
.checkout-addr-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.billing-addr-form button {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.addr-form-button {
    width: 30%;
    margin-top: 30px;
}

.checkout-addr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.addr-form-div {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

/* Checkout address form styling */
.shipping-addr-form, .billing-addr-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
}

.billing-addr-form p, .shipping-addr-form p {
    width: 100%;
    margin: 0;
}

.billing-addr-form p:nth-of-type(1), .shipping-addr-form p:nth-of-type(1) {
    margin-top: 30px;
}

/* Checkout Address input/select styling */
.checkout-addr input, .checkout-addr select {
    margin: 5px 0;
}

/* Styling for required address inputs */
.addr-form-div p:has(>input:required)::after {
    content: '*';
    color: red;
    margin: 0;
    display: inline-block;
}

/* Style for Checkout Summary H3s and page to confirm purchase */
.checkout-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checkout-summ-h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

/* Checkout Summary page split */
.summ-split {
    width: 100%;
    margin: 20px auto;
}

/* Show/Hide Cart toggle styling */
.cart-toggle-div {
    width: 100%;
}

/* Checkout Cart styling */
/* Display for cart changes */
.checkout-stock-change {
    display: none;
}

.checkout-stock-change .form-error {
    margin-top: 10px;
}

/* Cart table styling */
.checkout .cart-tbl-prod {
    display: none;
}

.checkout-summary .prod-table-details {
    width: 100%;
}

.checkout-summary .prod-table table, .checkout-summary .prod-table-details table {
    text-align: center;
    border-collapse: collapse;
}

.checkout-summary .prod-table table th, .checkout-summary .prod-table table td, .checkout-summary .prod-table-details table th, .checkout-summary .prod-table-details table td {
    border-left: 1px solid;
    padding: 10px;
}

.checkout-summary .prod-table table th:first-child, .checkout-summary .prod-table table td:first-child, .checkout-summary .prod-table-details table th:first-child, .checkout-summary .prod-table-details table td:first-child {
    border-left: 0;
}

.checkout-summary :nth-last-child(1 of .cart-tbl-prod) {
    border-bottom: 1px solid black;
}

/* Checkout Summary Edit Address button */
.edit-addr-div {
    width: 100%;
}

/* Checkout Summary Address details */
.checkout-summ-addr-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.checkout-summ-addr-div {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.checkout-summ-addr-view {
    margin-top: 0;
}

/* Checkout Order Note styling */
.order-note {
    width: 40%;
    margin-top: 10px;
}

.order-note-h3 {
    display: flex;
}

#checkout-order-note {
    background-color: #9FFFB8;
    border-radius: 5px;
    width: 100%;
}

#checkout-success-order-note {
    text-align: center;
}

/* Hidden buttons for custom form submits on Checkout Summary page*/
button.hidden-addr-submit, .hidden-empty-submit {
    display: none;
}

/* Stripe payment form styling */
#payment-form {
    width: 100%;
}

/* Additional styling for stripe card input element */
.StripeElement {
    width: 40%;
    background-color: #9FFFB8;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

/* Card error style */
#card-errors {
    text-align: center;
    color:red;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Section for user to confirm checkout/purchase */
.confirm-checkout {
    display: flex;
    flex-direction: column;
}

/* Warning for users that their card will be charged */
.confirm-checkout span {
    color: red;
    text-align: center;
}

/* Confirm order button */
#payment-button {
    margin-top: 15px;
}

/* Message to inform users that payment is being processed */
#pay-process {
    display: none;
    margin-top: 10px;
    font-weight: bold;
}

/* Post-checkout order confirmation and checkout error styling */
.order-confirm, .checkout-error {
    text-align: center;
}


/* Screens up to 1100px width */
@media screen and (max-width: 1100px) {
    /* Increase Checkout Address form width */
    .checkout-addr-form {
        width: 100%;
    }

    /* Add specific bottom margin for Show/Hide Cart and Edit Address buttons */
    .cart-toggle-div, .edit-addr-div {
        margin-bottom: 15px;
    }

    /* Increase width of Checkout Summary Order Note and stripe card input element */
    .order-note {
        width: 60%;
    }

    .StripeElement {
        width: 60%;
    }
}


/* Screens up to 500px width */
@media screen and (max-width: 500px) {
    /* Reduce padding on checkout pages */
    .checkout {
        padding: 10px;
    }

    /* Add top margin for Back to Cart button */
    .cart-back-button {
        margin-top: 20px;
    }

    /* Styling adjustments for Checkout Address page */
    .checkout-addr {
        justify-content: space-between;
    }

    .addr-form-div {
        width: 48%;
    }

    .addr-form-div {
        margin: 0
    }

    .billing-addr-form button, .addr-form-button {
        margin-top: 10px;
    }

    .billing-addr-form p:nth-of-type(1), .shipping-addr-form p:nth-of-type(1) {
        margin-top: 15px;
    }

    /* Reduce padding for Checkout Summary Cart table */
    .checkout-summary .prod-table table th, .checkout-summary .prod-table table td, .checkout-summary .prod-table-details table th, .checkout-summary .prod-table-details table td {
        padding: 5px;
    }

    /* Increase width for Checkout Address form and Checkout Summary Cart table */
    .addr-form-button, .checkout-summary .prod-table-details table {
        width: 100%;
    }

    /* Reduce margins on Show/Hide Cart and Edit Address buttons */
    .cart-toggle-div, .edit-addr-div {
        margin-bottom: 5px;
    }

    /* Checkout Summary address details */
    .checkout-summ-addr-outer {
        justify-content: space-between;
        gap: 0;
    }

    .checkout-summ-addr-div {
        width: 48%;
        word-break: break-word;
    }

    .checkout-summ-h3 {
        margin: 5px auto 10px 0;
    }

    .checkout-summ-addr-view p {
        margin-bottom: 5px;
    }

    /* Increase widths for Order Note and stripe card input element */
    .order-note {
        width: 100%;
        max-width: unset;
    }

    #checkout-order-note {
        box-sizing: border-box;
    }

    .StripeElement {
        width: 100%;
        box-sizing: border-box;
    }
}