/* Orders div and table styling on profile page */
.orders {
    margin-left: 0;
    margin-top: 0;
    width: 80%;
    overflow: auto;
}

.orders .prod-table table, .orders .prod-table-details table {
    text-align: center;
    border-collapse: collapse;
}

.orders .prod-table table th, .orders .prod-table table td, .orders .prod-table-details table th, .orders .prod-table-details table td {
    border-left: 1px solid;
    padding: 10px;
}

.orders .prod-table table th:first-child, .orders .prod-table table td:first-child, .orders .prod-table-details table th:first-child, .orders .prod-table-details table td:first-child, .prod-table-details table .order-sums td {
    border-left: 0;
}

.orders :nth-last-child(1 of .cart-tbl-prod) {
    border-bottom: 1px solid black;
}

.prod-table-details table .order-sums td {
    padding: 20px 10px 0 10px;
}

.order-prod {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.order-prod p {
    margin-left: 0;
}

.order-prod-img {
    min-width: 75px;
    max-width: 75px;
    margin-right: 10px;
    margin-left: 0;
}

.orders .prod-table-details {
    margin: 60px auto 20px auto;
}

.order-sums {
    font-weight: bold;
    white-space: nowrap;
}

.order-sums td {
    padding: 20px 10px 0 10px;
}

.order-sums .sum-title {
    text-align: left;
}


/* Screen up to 800px width */
@media screen and (max-width: 800px) {
    /* Orders div and table adjustments on profile page */
    .orders {
        width: 100%;
    }

    .orders .prod-table button {
        width: auto;
        margin-top: 10px;
    }
}


/* Screen up to 500px width */
@media screen and (max-width: 500px) {
    /* Orders table adjustments on profile page */
    .orders .prod-table table th, .orders .prod-table table td, .orders .prod-table-details table th, .orders .prod-table-details table td {
        padding: 5px;
    }

    .orders .prod-table table td:last-child button {
        padding: 2px;
    }

    .orders .prod-table table td:first-child, .orders .prod-table table th:first-child {
        padding-left: 0;
    }

    .orders .prod-table table td:last-child, .orders .prod-table table th:last-child {
        padding-right: 0;
    }

    .orders .prod-table table td:nth-child(4) {
        word-break: break-word;
        padding: 1px;
    }

    .orders .prod-table-details {
        overflow: scroll;
        margin: 20px auto auto auto;
    }

    .orders .prod-table-details table td:nth-child(4), .orders .prod-table-details table th:nth-child(4) {
        display: none;
    }
}